<div class='row'>
                <div class='col-sm-6'>
                  <div class='row'>
                    <div class='chat'>
                      <div class='col-sm-12'>
                        <div class='box'>
                          <div class='box-header orange-background'>
                            <div class='title'>
                              <i class='icon-comments-alt'></i>
                              Chat
                            </div>
                            <div class='actions'>
                              <a class="btn box-remove btn-xs btn-link" href="#"><i class='icon-remove'></i>
                              </a>

                              <a class="btn box-collapse btn-xs btn-link" href="#"><i></i>
                              </a>
                            </div>
                          </div>
                          <div class='box-content box-no-padding'>
                            <div class='scrollable' data-scrollable-height='300' data-scrollable-start='bottom'>
                              <ul class='list-unstyled list-hover list-striped'>
                                <li class='message'>
                                  <div class='avatar'>
                                    <img alt='Avatar' height='23' src='assets/images/avatar.jpg' width='23'>
                                  </div>
                                  <div class='name-and-time'>
                                    <div class='name pull-left'>
                                      <small>
                                        <a class="text-contrast" href="#">Tomas</a>
                                      </small>
                                    </div>
                                    <div class='time pull-right'>
                                      <small class='date pull-right text-muted'>
                                        <span class='timeago fade has-tooltip' data-placement='top' title='2013-09-15 17:42:37 +0200'>September 15, 2013 - 17:42</span>
                                        <i class='icon-time'></i>
                                      </small>
                                    </div>
                                  </div>
                                  <div class='body'>
                                    Vel recusandae aspernatur atque repudiandae asperiores aut commodi recusandae voluptas ab vel dignissimos necessitatibus ipsam
                                  </div>
                                </li>
                                <li class='message'>
                                  <div class='avatar'>
                                    <img alt='Avatar' height='23' src='assets/images/avatar.jpg' width='23'>
                                  </div>
                                  <div class='name-and-time'>
                                    <div class='name pull-left'>
                                      <small>
                                        <a class="text-contrast" href="#">Moses</a>
                                      </small>
                                    </div>
                                    <div class='time pull-right'>
                                      <small class='date pull-right text-muted'>
                                        <span class='timeago fade has-tooltip' data-placement='top' title='2013-09-15 17:41:37 +0200'>September 15, 2013 - 17:41</span>
                                        <i class='icon-time'></i>
                                      </small>
                                    </div>
                                  </div>
                                  <div class='body'>
                                    Sint illo aut illo nostrum omnis et dolorem et dignissimos
                                  </div>
                                </li>
                                <li class='message'>
                                  <div class='avatar'>
                                    <img alt='Avatar' height='23' src='assets/images/avatar.jpg' width='23'>
                                  </div>
                                  <div class='name-and-time'>
                                    <div class='name pull-left'>
                                      <small>
                                        <a class="text-contrast" href="#">Moses</a>
                                      </small>
                                    </div>
                                    <div class='time pull-right'>
                                      <small class='date pull-right text-muted'>
                                        <span class='timeago fade has-tooltip' data-placement='top' title='2013-09-15 17:40:37 +0200'>September 15, 2013 - 17:40</span>
                                        <i class='icon-time'></i>
                                      </small>
                                    </div>
                                  </div>
                                  <div class='body'>
                                    Culpa aut quasi vitae sunt modi laboriosam a
                                  </div>
                                </li>
                                <li class='message'>
                                  <div class='avatar'>
                                    <img alt='Avatar' height='23' src='assets/images/avatar.jpg' width='23'>
                                  </div>
                                  <div class='name-and-time'>
                                    <div class='name pull-left'>
                                      <small>
                                        <a class="text-contrast" href="#">Moses</a>
                                      </small>
                                    </div>
                                    <div class='time pull-right'>
                                      <small class='date pull-right text-muted'>
                                        <span class='timeago fade has-tooltip' data-placement='top' title='2013-09-15 17:39:37 +0200'>September 15, 2013 - 17:39</span>
                                        <i class='icon-time'></i>
                                      </small>
                                    </div>
                                  </div>
                                  <div class='body'>
                                    Doloribus neque qui eius laborum est nemo impedit aliquid et
                                  </div>
                                </li>
                                <li class='message'>
                                  <div class='avatar'>
                                    <img alt='Avatar' height='23' src='assets/images/avatar.jpg' width='23'>
                                  </div>
                                  <div class='name-and-time'>
                                    <div class='name pull-left'>
                                      <small>
                                        <a class="text-contrast" href="#">Tomas</a>
                                      </small>
                                    </div>
                                    <div class='time pull-right'>
                                      <small class='date pull-right text-muted'>
                                        <span class='timeago fade has-tooltip' data-placement='top' title='2013-09-15 17:38:37 +0200'>September 15, 2013 - 17:38</span>
                                        <i class='icon-time'></i>
                                      </small>
                                    </div>
                                  </div>
                                  <div class='body'>
                                    Ut et nam ut eos aut est id quo veniam corrupti itaque voluptatem repellat rerum
                                  </div>
                                </li>
                                <li class='message'>
                                  <div class='avatar'>
                                    <img alt='Avatar' height='23' src='assets/images/avatar.jpg' width='23'>
                                  </div>
                                  <div class='name-and-time'>
                                    <div class='name pull-left'>
                                      <small>
                                        <a class="text-contrast" href="#">Tomas</a>
                                      </small>
                                    </div>
                                    <div class='time pull-right'>
                                      <small class='date pull-right text-muted'>
                                        <span class='timeago fade has-tooltip' data-placement='top' title='2013-09-15 17:37:37 +0200'>September 15, 2013 - 17:37</span>
                                        <i class='icon-time'></i>
                                      </small>
                                    </div>
                                  </div>
                                  <div class='body'>
                                    Quo voluptas necessitatibus sint molestias
                                  </div>
                                </li>
                                <li class='message'>
                                  <div class='avatar'>
                                    <img alt='Avatar' height='23' src='assets/images/avatar.jpg' width='23'>
                                  </div>
                                  <div class='name-and-time'>
                                    <div class='name pull-left'>
                                      <small>
                                        <a class="text-contrast" href="#">Tomas</a>
                                      </small>
                                    </div>
                                    <div class='time pull-right'>
                                      <small class='date pull-right text-muted'>
                                        <span class='timeago fade has-tooltip' data-placement='top' title='2013-09-15 17:36:37 +0200'>September 15, 2013 - 17:36</span>
                                        <i class='icon-time'></i>
                                      </small>
                                    </div>
                                  </div>
                                  <div class='body'>
                                    Sed quo voluptatem illo quam qui itaque ad
                                  </div>
                                </li>
                                <li class='message'>
                                  <div class='avatar'>
                                    <img alt='Avatar' height='23' src='assets/images/avatar.jpg' width='23'>
                                  </div>
                                  <div class='name-and-time'>
                                    <div class='name pull-left'>
                                      <small>
                                        <a class="text-contrast" href="#">Moses</a>
                                      </small>
                                    </div>
                                    <div class='time pull-right'>
                                      <small class='date pull-right text-muted'>
                                        <span class='timeago fade has-tooltip' data-placement='top' title='2013-09-15 17:35:37 +0200'>September 15, 2013 - 17:35</span>
                                        <i class='icon-time'></i>
                                      </small>
                                    </div>
                                  </div>
                                  <div class='body'>
                                    Ea optio quod vel eligendi est voluptates repellat est aliquam quia nihil beatae sit
                                  </div>
                                </li>
                                <li class='message'>
                                  <div class='avatar'>
                                    <img alt='Avatar' height='23' src='assets/images/avatar.jpg' width='23'>
                                  </div>
                                  <div class='name-and-time'>
                                    <div class='name pull-left'>
                                      <small>
                                        <a class="text-contrast" href="#">Tomas</a>
                                      </small>
                                    </div>
                                    <div class='time pull-right'>
                                      <small class='date pull-right text-muted'>
                                        <span class='timeago fade has-tooltip' data-placement='top' title='2013-09-15 17:34:37 +0200'>September 15, 2013 - 17:34</span>
                                        <i class='icon-time'></i>
                                      </small>
                                    </div>
                                  </div>
                                  <div class='body'>
                                    Qui in ratione reiciendis possimus ipsum voluptatem quidem aut unde excepturi ut harum minus dolorum
                                  </div>
                                </li>
                                <li class='message'>
                                  <div class='avatar'>
                                    <img alt='Avatar' height='23' src='assets/images/avatar.jpg' width='23'>
                                  </div>
                                  <div class='name-and-time'>
                                    <div class='name pull-left'>
                                      <small>
                                        <a class="text-contrast" href="#">Tomas</a>
                                      </small>
                                    </div>
                                    <div class='time pull-right'>
                                      <small class='date pull-right text-muted'>
                                        <span class='timeago fade has-tooltip' data-placement='top' title='2013-09-15 17:33:37 +0200'>September 15, 2013 - 17:33</span>
                                        <i class='icon-time'></i>
                                      </small>
                                    </div>
                                  </div>
                                  <div class='body'>
                                    Ea cum illum eum occaecati qui culpa et consequatur ut aspernatur distinctio
                                  </div>
                                </li>
                              </ul>
                            </div>
                                      <form class="new-message" method="post" action="#" accept-charset="UTF-8"><input name="authenticity_token" type="hidden" /><input class='form-control' id='message_body' name='message[body]' placeholder='Type your message here...' type='text'>
                            <button class='btn btn-success' type='submit'>
                              <i class='icon-plus'></i>
                            </button>
                            </form>

                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class='col-sm-6'>
                  <div class='row'>
                    <div class='col-sm-12'>
                      <div class='box'>
                        <div class='box-header blue-background'>
                          <div class='title'>
                            <div class='icon-envelope-alt'></div>
                            Quick e-mail
                          </div>
                          <div class='actions'>
                            <a class="btn box-remove btn-xs btn-link" href="#"><i class='icon-remove'></i>
                            </a>

                            <a class="btn box-collapse btn-xs btn-link" href="#"><i></i>
                            </a>
                          </div>
                        </div>
                        <div class='box-content'>
                          <div class='form-group'>
                            <input value="" placeholder="E-mail" class="form-control" name="email" type="text" />
                          </div>
                          <div class='form-group'>
                            <textarea class='form-control wysihtml5' id='body' placeholder='Your message...' rows='5'></textarea>
                          </div>
                          <div class='text-right'>
                            <a class="btn btn-primary" href="#">Send</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>