<div class='group-header'>
  <div class='row'>
    <div class='col-sm-6 col-sm-offset-3'>
      <div class='text-center'>
        <h2>Agenda</h2>
        <small class='text-muted'>Agenda do salão e marcações</small>
      </div>
    </div>
  </div>
</div>