              <div class='row'>
                <div class='col-sm-12 col-md-6'>
                  <div class='box'>
                    <div class='box-header'>
                      <div class='title'>
                        <div class='icon-inbox'></div>
                        Orders
                      </div>
                      <div class='actions'>
                        <a class="btn box-remove btn-xs btn-link" href="#"><i class='icon-remove'></i>
                        </a>

                        <a class="btn box-collapse btn-xs btn-link" href="#"><i></i>
                        </a>
                      </div>
                    </div>
                    <div class='row'>
                      <div class='col-sm-6'>
                        <div class='box-content box-statistic'>
                          <h3 class='title text-error'>191</h3>
                          <small>New</small>
                          <div class='text-error icon-inbox align-right'></div>
                        </div>
                        <div class='box-content box-statistic'>
                          <h3 class='title text-warning'>311</h3>
                          <small>In process</small>
                          <div class='text-warning icon-check align-right'></div>
                        </div>
                        <div class='box-content box-statistic'>
                          <h3 class='title text-info'>3</h3>
                          <small>Pending</small>
                          <div class='text-info icon-time align-right'></div>
                        </div>
                      </div>
                      <div class='col-sm-6'>
                        <div class='box-content box-statistic'>
                          <h3 class='title text-primary'>3</h3>
                          <small>Shipped</small>
                          <div class='text-primary icon-truck align-right'></div>
                        </div>
                        <div class='box-content box-statistic'>
                          <h3 class='title text-success'>981</h3>
                          <small>Completed</small>
                          <div class='text-success icon-flag align-right'></div>
                        </div>
                        <div class='box-content box-statistic'>
                          <h3 class='title text-muted'>0</h3>
                          <small>Canceled</small>
                          <div class='text-muted icon-remove align-right'></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class='col-sm-6 col-md-3'>
                  <div class='box'>
                    <div class='box-header'>
                      <div class='title'>
                        <i class='icon-group'></i>
                        Visitors
                      </div>
                    </div>
                    <div class='row'>
                      <div class='col-sm-12'>
                        <div class='box-content box-statistic'>
                          <h3 class='title text-error'>9100</h3>
                          <small>Unique</small>
                          <div class='text-error icon-user align-right'></div>
                        </div>
                        <div class='box-content box-statistic'>
                          <h3 class='title text-warning'>41 000</h3>
                          <small>Pageviews</small>
                          <div class='text-warning icon-book align-right'></div>
                        </div>
                        <div class='box-content box-statistic'>
                          <h3 class='title text-primary'>12:21</h3>
                          <small>Average time</small>
                          <div class='text-primary icon-time align-right'></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class='col-sm-6 col-md-3'>
                  <div class='box'>
                    <div class='box-header'>
                      <div class='title'>
                        <i class='icon-comments'></i>
                        Comments
                      </div>
                    </div>
                    <div class='row'>
                      <div class='col-sm-12'>
                        <div class='box-content box-statistic'>
                          <h3 class='title text-error'>91</h3>
                          <small>New</small>
                          <div class='text-error icon-plus align-right'></div>
                        </div>
                        <div class='box-content box-statistic'>
                          <h3 class='title text-success'>1</h3>
                          <small>Approved</small>
                          <div class='text-success icon-ok align-right'></div>
                        </div>
                        <div class='box-content box-statistic'>
                          <h3 class='title text-info'>123</h3>
                          <small>Pending</small>
                          <div class='text-info icon-time align-right'></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
