<div class='alert alert-info alert-dismissable'>
  <a class='close' data-dismiss='alert' href='#'>&times;</a>
  Welcome to
  <strong>Flatty (v2.2)</strong>
  - I hope you'll like it. Don't forget - you can change theme color in top right corner
  <i class='icon-cog'></i>
  if you want.
</div>