<div class='row'>
                <div class='col-sm-6'>
                  <div class='row'>
                    <div class='col-sm-12'>
                      <div class='box box-bordered purple-border'>
                        <div class='box-header purple-background'>
                          <div class='title'>
                            <i class='icon-calendar'></i>
                            Calendar
                          </div>
                        </div>
                        <div class='box-content'>
                          <div class='full-calendar-demo'></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class='col-sm-6'>
                  <div class='row'>
                    <div class='col-sm-12'>
                      <div class='box'>
                        <div class='box-header green-background'>
                          <div class='title'>
                            <div class='icon-tasks'></div>
                            Tasks
                          </div>
                          <div class='actions'>
                            <a class="btn box-remove btn-xs btn-link" href="#"><i class='icon-remove'></i>
                            </a>

                            <a class="btn box-collapse btn-xs btn-link" href="#"><i></i>
                            </a>
                          </div>
                        </div>
                        <div class='box-content'>
                          <ul class='list-unstyled tasks'>
                            <li>
                              <div class='task'>
                                <span class='pull-left'>
                                  <a href='#'>Cras sed tellus velit</a>
                                </span>
                                <small class='pull-right'>40%</small>
                              </div>
                              <div class='progress progress-small'>
                                <div class='progress-bar' style='width: 40%'></div>
                              </div>
                            </li>
                            <li>
                              <div class='task'>
                                <span class='pull-left'>
                                  <a href='#'>Quis posuere tortor - maecenas in risus</a>
                                </span>
                                <small class='pull-right'>80%</small>
                              </div>
                              <div class='progress progress-small'>
                                <div class='progress-bar progress-bar-danger' style='width: 80%'></div>
                              </div>
                            </li>
                            <li>
                              <div class='task'>
                                <span class='pull-left'>
                                  <a href='#'>Donec sodales justo in lacus sagittis</a>
                                </span>
                                <small class='pull-right'>58%</small>
                              </div>
                              <div class='progress progress-small'>
                                <div class='progress-bar-success progress-bar' style='width: 68%'></div>
                              </div>
                            </li>
                            <li>
                              <div class='task'>
                                <span class='pull-left'>
                                  <a href='#'>Etiam condimentum sem nec</a>
                                </span>
                                <small class='pull-right'>100%</small>
                              </div>
                              <div class='progress progress-small'>
                                <div class='progress-bar progress-bar-warning' style='width: 100%'></div>
                              </div>
                            </li>
                            <li>
                              <div class='task'>
                                <span class='pull-left'>
                                  <a href='#'>Etiam condimentum sem nec</a>
                                </span>
                                <small class='pull-right'>24%</small>
                              </div>
                              <div class='progress progress-small'>
                                <div class='progress-bar progress-bar-info' style='width: 24%'></div>
                              </div>
                            </li>
                            <li>
                              <div class='task'>
                                <span class='pull-left'>
                                  <a href='#'>Id mi placerat</a>
                                </span>
                                <small class='pull-right'>10%</small>
                              </div>
                              <div class='progress progress-small'>
                                <div class='progress-bar progress-bar-success' style='width: 10%'></div>
                              </div>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>