---
title: Hora do salao
---

<%= partial "partials/group-header" %>

<div class="row">
  <div id="messages" class="col-md-12">
  </div>
</div>

<div class="row">
  <div id="loading" class="col-md-12">
    <img src="assets/images/ajax-loaders/17.gif" class="show center-block">
  </div>
  <div id="boxTable" class="box">
    <div class="box-header col-md-11 col-md-offset-1">
      <div class="title">
        Data
      </div>
    </div>
    <div class="col-md-1 text-right">
      <button class="btn btn-primary icon-circle-arrow-left" type="button"></button>
    </div>
    <div class="col-md-10">
      <div class="box-content">
        <div class='responsive-table'>
          <div class='scrollable-area' id="agenda-area">
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-1 text-left">
      <button class="btn btn-primary icon-circle-arrow-right" type="button"></button>
    </div>
  </div>
</div>

<hr class="hr-normal">

<div class="row">
  <form class="form form-horizontal" id="search-client" style="margin-bottom: 0;" method="post" action="#" accept-charset="UTF-8">
    <div class="form-group">
      <label class="control-label col-md-2" for="appendedInputButtons">Cliente</label>
      <div class="col-md-9">
        <div class="row">
          <div class="col-sm-6">
            <div class="input-group">
              <input class="form-control" id="search-cliente-name" type="text">
              <div class="input-group-btn">
                <button class="btn btn-primary" type="submit">Buscar</button>
                <button class="btn" type="button" id="reset-search">Limpar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>

  <div id="list-services-table" class="responsive-table col-sm-10 col-md-offset-1">
    <div class="scrollable-area">
      <table class="table" style="margin-bottom:0;">
        <thead>
          <tr>
            <th>Serviço</th>
            <th>Profissional</th>
            <th class="text-right">Valor</th>
          </tr>
        </thead>
        <tbody id="list-services">
        </tbody>
        <tfoot>
          <tr>
            <th>Total</th>
            <th></th>
            <th id="services-total" class="text-right"></th>
          </tr>
        </tfoot>
      </table>
    </div>
    <div class="text-right">
      <button id="services-pay" type="button" class="btn btn-primary">Pagar</button>
    </div>
  </div>
</div>