<div class='col-xs-12'>
  <div class='row'>
    <div class='col-sm-12'>
      <div class='page-header'>
        <h1 class='pull-left'>
          <i class='icon-calendar'></i>
          <span>Calendar</span>
        </h1>
        <div class='pull-right'>
          <ul class='breadcrumb'>
            <li>
              <a href='index.html'>
                <i class='icon-bar-chart'></i>
              </a>
            </li>
            <li class='separator'>
              <i class='icon-angle-right'></i>
            </li>
            <li class='active'>Calendar</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class='row'>
    <div class='col-sm-3' id='events'>
      <div class='box'>
        <div class='box-header'>
          <div class='title'>Draggable events</div>
        </div>
        <div class='box-content'>
          <div class='label label-important external-event' data-event-class='label-important'>Jane meetup</div>
          <div class='label label-warning external-event' data-event-class='label-warning'>Shopping</div>
          <div class='label label-success external-event' data-event-class='label-success'>Dentist</div>
          <hr class='hr-normal'>
          <label class='checkbox'>
            <input id='calendar-remove-after-drop' type='checkbox' value='option1'>
            Remove after drop?
          </label>
          <hr class='hr-normal'>
                  <form id="new-event" style="margin-bottom:0;" method="post" action="#" accept-charset="UTF-8"><input name="authenticity_token" type="hidden" /><div class='form-group'>
            <input class='form-control' id='new-event-input' placeholder='Event name' type='text'>
          </div>
          <button class='btn btn-primary btn-block'>
            <i class='icon-plus'></i>
            Create event
          </button>
          </form>

        </div>
      </div>
    </div>
    <div class='col-sm-9'>
      <div class='box'>
        <div class='box-header'>
          <div class='title'>Home and work</div>
        </div>
        <div class='box-content'>
          <div class='full-calendar-demo'></div>
        </div>
      </div>
    </div>
  </div>
</div>
