<div class='row'>
  <div class='col-sm-12'>
    <div class='page-header'>
      <h1 class='pull-left'>
        <i class='icon-bar-chart'></i>
        <span>Charts</span>
      </h1>
      <div class='pull-right'>
        <ul class='breadcrumb'>
          <li>
            <a href='index.html'>
              <i class='icon-bar-chart'></i>
            </a>
          </li>
          <li class='separator'>
            <i class='icon-angle-right'></i>
          </li>
          <li>Components</li>
          <li class='separator'>
            <i class='icon-angle-right'></i>
          </li>
          <li class='active'>Charts</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class='row'>
  <div class='col-sm-12'>
    <div class='box'>
      <div class='box-header'>
        <div class='title'>
          Basic
        </div>
        <div class='actions'>
          <a class="btn box-remove btn-xs btn-link" href="#"><i class='icon-remove'></i>
          </a>

          <a class="btn box-collapse btn-xs btn-link" href="#"><i></i>
          </a>
        </div>
      </div>
      <div class='box-content'>
        <div id='stats-chart1'></div>
      </div>
    </div>
  </div>
</div>
<div class='row'>
  <div class='col-sm-12'>
    <div class='box'>
      <div class='box-header'>
        <div class='title'>
          Realtime
        </div>
        <div class='actions'>
          <a class="btn box-remove btn-xs btn-link" href="#"><i class='icon-remove'></i>
          </a>

          <a class="btn box-collapse btn-xs btn-link" href="#"><i></i>
          </a>
        </div>
      </div>
      <div class='box-content'>
        <div id='stats-chart3'></div>
      </div>
    </div>
  </div>
</div>
<div class='row'>
  <div class='col-sm-6'>
    <div class='box'>
      <div class='box-header'>
        <div class='title'>
          Bar chart
        </div>
        <div class='actions'>
          <a class="btn box-remove btn-xs btn-link" href="#"><i class='icon-remove'></i>
          </a>

          <a class="btn box-collapse btn-xs btn-link" href="#"><i></i>
          </a>
        </div>
      </div>
      <div class='box-content'>
        <div id='stats-chart7'></div>
      </div>
    </div>
  </div>
  <div class='col-sm-6'>
    <div class='box'>
      <div class='box-header'>
        <div class='title'>
          Pie chart
        </div>
        <div class='actions'>
          <a class="btn box-remove btn-xs btn-link" href="#"><i class='icon-remove'></i>
          </a>

          <a class="btn box-collapse btn-xs btn-link" href="#"><i></i>
          </a>
        </div>
      </div>
      <div class='box-content'>
        <div id='stats-chart8'></div>
      </div>
    </div>
  </div>
</div>
<div class='row'>
  <div class='col-sm-12'>
    <div class='box'>
      <div class='box-header'>
        <div class='title'>
          Sparklines
        </div>
        <div class='actions'>
          <a class="btn box-remove btn-xs btn-link" href="#"><i class='icon-remove'></i>
          </a>

          <a class="btn box-collapse btn-xs btn-link" href="#"><i></i>
          </a>
        </div>
      </div>
      <div class='box-content'>
        <div class='row'>
          <div class='col-sm-4'>
            <div class='text-center'>
              <div id='stats-chart4'></div>
            </div>
          </div>
          <div class='col-sm-4'>
            <div class='text-center'>
              <div id='stats-chart5'></div>
            </div>
          </div>
          <div class='col-sm-4'>
            <div class='text-center'>
              <div id='stats-chart6'></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
