
<div class='col-xs-12'>
  <div class='row'>
    <div class='col-sm-12'>
      <div class='page-header'>
        <h1 class='pull-left'>
          <i class='icon-cog'></i>
          <span>Closed navigation</span>
        </h1>
        <div class='pull-right'>
          <ul class='breadcrumb'>
            <li>
              <a href='index.html'>
                <i class='icon-bar-chart'></i>
              </a>
            </li>
            <li class='separator'>
              <i class='icon-angle-right'></i>
            </li>
            <li>Layouts</li>
            <li class='separator'>
              <i class='icon-angle-right'></i>
            </li>
            <li class='active'>Closed navigation</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class='alert alert-info alert-dismissable'>
    <a class='close' data-dismiss='alert' href='#'>&times;</a>
    <strong>Hey there!</strong>
    If you are using some touch device right now, you can try slide from left to right on navigation to open it. Sliding from right to left will close it.
  </div>
  Et est beatae voluptatibus ipsa consequuntur iste aut libero quam. cumque magnam dolorum reprehenderit repellendus. assumenda expedita voluptatem quia eius aut. enim porro ex iste. et consectetur ad pariatur ex voluptatem sit
  <br>
  <br>
  Qui quasi veritatis enim modi consequatur nihil optio natus dolore inventore ut eius quod. dolore mollitia vitae illo eaque voluptas. et at assumenda odio aut et aut dolore pariatur qui quibusdam neque illo eveniet. dolor voluptate praesentium fugiat tempora dignissimos temporibus nostrum similique quia. tempora est totam vitae aliquid saepe dolorum aut pariatur culpa omnis debitis eos in laudantium. et autem aut error aut sapiente explicabo doloremque
  <br>
  <br>
  Qui et et consequatur. est et sint recusandae qui fuga ducimus fugit at amet sit. deleniti voluptatum ut consequatur deleniti iste quis hic. nesciunt commodi et amet molestias ut ut iste culpa enim sed fuga illo non
  <br>
  <br>
  Aut magnam maiores atque adipisci eum est voluptate quia fuga est. ut voluptatibus molestias repellat labore. nam quia magnam velit impedit rerum aut iusto maiores error nisi. atque veniam omnis ratione
  <br>
  <br>
  Et accusamus et blanditiis saepe repudiandae similique et. autem ut quae qui amet iure ut praesentium facere. odit dignissimos sunt sapiente alias. cum doloribus consequatur ab sit voluptas et et exercitationem beatae dignissimos alias laborum fugit. est autem eius unde voluptatem rerum architecto est quasi voluptate voluptatum tenetur tempora. quia totam et delectus rerum veritatis
  <br>
  <br>
  Quis itaque quam soluta omnis molestias quis illum nostrum quos quo. excepturi fugiat est natus voluptas nulla suscipit dicta sint. pariatur culpa error porro cupiditate nisi quod eveniet autem odio dicta consequatur
  <br>
  <br>
  Dolorem error sit laboriosam. fugit distinctio quae nihil provident. doloribus aut laudantium reprehenderit ipsum modi adipisci sapiente libero est voluptas. sapiente facere suscipit saepe itaque voluptas minima vel corporis voluptas dolorem voluptate id. aliquid tempora voluptatum hic velit maiores enim velit odio ea aliquam beatae tempora
  <br>
  <br>
  Nulla et facere eligendi voluptatem fuga sit sed reprehenderit earum. error ut dolorem ut corporis recusandae aut quas. beatae et dolorum autem eveniet cumque repellat ut harum. sint minus animi occaecati sit repudiandae et autem quis in quia. magnam vel cupiditate beatae sint repellendus. ut sequi quo non natus alias unde soluta animi atque eos molestiae omnis
  <br>
  <br>
  Error ratione ut occaecati. error ut quas minus voluptatem cupiditate ipsam et ut delectus sed sit aliquam qui. amet est corrupti dolores voluptate reiciendis odit quibusdam. natus ut minus magnam autem mollitia consequatur et natus qui ut. alias voluptas temporibus officiis quis laboriosam earum ipsum voluptates. numquam nemo est ullam animi debitis aliquam voluptatum aut aut
  <br>
  <br>
  Temporibus omnis aut iure optio eum officia molestiae qui ex illo exercitationem. provident saepe recusandae et omnis quia facere amet dolorum. dolorem a laborum repellat quibusdam quia eos quas unde officiis eos ex aut. blanditiis nesciunt eveniet rerum quod cupiditate. hic quisquam voluptas sit
  <br>
  <br>
  Provident odit sunt eos quidem sed perspiciatis laborum dolores voluptates ut dolorem omnis enim. aliquid molestiae velit quo qui ipsa laboriosam incidunt veritatis. veritatis quod dignissimos distinctio. voluptatem ipsum excepturi aperiam et voluptatum blanditiis excepturi exercitationem recusandae. porro fugit quidem unde facere perferendis consequatur deserunt pariatur ut veritatis suscipit et. aliquid aperiam et mollitia aut sunt
  <br>
  <br>
  Natus adipisci distinctio sequi est esse at alias eius sit laboriosam reprehenderit officiis sed. quidem provident sunt et delectus. possimus est inventore vel eius provident exercitationem tempora ducimus repellat
  <br>
  <br>
  Sit et voluptatem quia et. voluptas dolore qui consequuntur ipsa voluptatem labore fugiat. illo voluptatibus veritatis laborum adipisci et omnis nihil deserunt et rerum et. deleniti et dolore eos et ex. mollitia pariatur perferendis consequuntur excepturi. cum incidunt et quia debitis sint fugiat id id blanditiis quo quibusdam. nulla ut qui soluta
  <br>
  <br>
  Corporis cumque quod reprehenderit possimus voluptatem fugit molestiae assumenda excepturi quia minima. id sed quia similique ea autem recusandae facere non id dolorem voluptatem aut velit. adipisci modi maxime aut dolores velit voluptatem sunt cumque vel voluptatem voluptates cum minus. iste sed repudiandae architecto et porro quam deserunt fugit. odit sequi suscipit unde tempore et earum corrupti
  <br>
  <br>
  Tenetur repellat officiis assumenda cum voluptas harum. similique iste magnam iste debitis totam. est in dignissimos rem exercitationem eligendi. recusandae repellat ab veniam atque facere possimus nobis labore molestiae. nobis dolor porro alias reiciendis facilis molestiae veniam inventore fuga voluptas sed
  <br>
  <br>
  Officia fugiat qui quidem cum tenetur culpa molestiae quis dolorem molestias dolores consequatur. velit animi natus quod dolores dolores repudiandae in omnis. ut quia sapiente labore magnam corporis nisi nisi. odit illum et aliquid dolores. dolor nihil et voluptatum vel illum quisquam blanditiis
  <br>
  <br>
  Iusto possimus fugit qui laborum. modi ipsum ipsam rerum adipisci nisi. suscipit expedita nihil voluptas non repudiandae. voluptas nam maiores facilis est non qui ad rerum ipsam quia animi atque et et
  <br>
  <br>
  Culpa atque eos eligendi quae ex. deserunt officiis et adipisci assumenda dolorem rerum ipsam delectus facere ipsum et voluptatum commodi sit. architecto omnis aperiam maiores dignissimos labore tenetur est dolorum facere temporibus nisi temporibus sunt qui. dolorem voluptatem rerum ullam vero. pariatur quaerat laudantium qui. soluta deleniti minus sint inventore voluptatibus itaque
  <br>
  <br>
  Ipsa culpa autem molestiae non aliquid delectus et. dolorem eaque id possimus quod eos officia id dolores. ut dolores fugit eveniet aut nostrum sit quo dolorem asperiores aut omnis ab. id hic voluptatibus unde sunt in ut quod. quo ab illo qui odio blanditiis id id cupiditate praesentium vero quo voluptatem consequatur. ipsa mollitia sequi qui aut adipisci iusto exercitationem aut quae qui asperiores aut labore provident
  <br>
  <br>
  Natus similique illum amet aliquam numquam deserunt exercitationem magnam eius optio consequuntur et id. itaque molestiae sunt ab autem nesciunt ut repudiandae omnis nihil. perspiciatis illo commodi est pariatur in aliquid mollitia saepe et quo fugiat placeat incidunt maxime. quia sequi odio doloremque at natus enim reprehenderit commodi tenetur nostrum rerum illo. magni iste quis quia quidem nemo labore quasi dolorem nam. et voluptatem ipsa officiis et velit reprehenderit
  <br>
  <br>
  Illum ullam libero rerum praesentium ut. quos facere maxime ut placeat sapiente voluptas eum qui. qui in voluptas voluptas enim recusandae ad sequi consequatur eius inventore ducimus officiis aut debitis. est non et non voluptatem dicta temporibus quia. et eveniet rem dolores reprehenderit velit iusto et. vitae quo esse voluptas laborum quasi non numquam rerum
  <br>
  <br>
  Officiis beatae quaerat rerum cum minus ut quo consectetur ut sed ab explicabo. dolor est tempore perspiciatis. odio dignissimos ea nihil nemo necessitatibus quas voluptas sed deserunt atque eos error laborum non. labore ut quisquam ex ea aliquam nisi velit voluptatum voluptatem. et excepturi voluptatem excepturi reprehenderit tenetur velit. fugit voluptas earum harum nihil ut iste
  <br>
  <br>
  Nulla qui eum quasi sit. quis asperiores illo aut corrupti nostrum tempore numquam autem dicta. numquam aut aut fuga enim aut molestias autem voluptas accusantium sed. libero voluptatem consequatur asperiores. aut asperiores corporis sit
  <br>
  <br>
  Ducimus libero autem ducimus rem. facere quae dignissimos voluptatem facere et omnis possimus laudantium enim quia eum voluptate omnis. tempore in quia perferendis consequatur quos. molestias dolores aut nulla amet quidem ea vitae itaque. voluptas cum rem mollitia repellat molestiae ipsum et ut quae molestiae sit harum odio. qui non veritatis eveniet id cupiditate eum incidunt voluptatibus aperiam et
  <br>
  <br>
  Sapiente recusandae ipsam rerum quasi asperiores pariatur quo aut quas cum. tempora natus quis eligendi omnis pariatur veniam voluptatem sed a tempore. officiis ullam amet quae et quo eligendi quis facere. quos tempore distinctio consectetur vero earum sunt non id. laboriosam rem nihil harum dolorum perspiciatis fugiat atque explicabo
  <br>
  <br>
  Deserunt minus quia aliquam itaque id laboriosam. totam neque iste ut nihil delectus praesentium est. iure odit voluptate fugiat voluptate. magnam id quia in deleniti eum ea qui id sunt et natus dolores autem esse. non illo est id. inventore molestias omnis nostrum ullam
  <br>
  <br>
  Deserunt eum exercitationem consequuntur voluptate ad qui vel et rem explicabo dolores doloremque non. consequatur repellendus qui voluptatem ipsa eius cumque. rem dolores alias eveniet impedit et sunt dolorem aut perferendis. nesciunt aliquam ex odio molestiae ab in vero repellendus rem aut voluptatem ipsam. unde mollitia et ut nostrum illo velit. numquam dolorem labore voluptatem cupiditate repellendus aut et dignissimos qui qui nisi laudantium. voluptatum cumque in qui itaque quis quasi praesentium corrupti autem veritatis qui iusto suscipit
  <br>
  <br>
  Neque aut odio est laborum eum. et dolore aliquid voluptas laborum accusantium mollitia doloremque id quia occaecati aut. quia aliquam molestiae aut veniam et consectetur id illum ut nam vero
  <br>
  <br>
  Velit reprehenderit sed et magni fugit nihil in alias quibusdam quo. ex corrupti perferendis necessitatibus delectus iste. natus et tenetur accusamus corrupti voluptatem quia ut suscipit
  <br>
  <br>
  Iure qui repellat rerum nihil sed ut ut eaque similique. nam ipsa inventore accusamus perspiciatis rerum est molestias voluptas laudantium nemo tempora esse qui necessitatibus. hic nam veritatis reprehenderit neque molestiae est
  <br>
  <br>
  Odio sed necessitatibus enim. iure quod qui in culpa. sit est at consequuntur similique. similique nam commodi eum temporibus. omnis quam eligendi consequatur ut eligendi deserunt consequatur laboriosam dignissimos necessitatibus. modi non molestiae temporibus quod voluptate placeat velit veritatis fugiat accusantium. asperiores commodi blanditiis qui qui temporibus facilis perferendis quos laboriosam
  <br>
  <br>
  Ipsa molestiae eum tempora expedita est in nostrum ratione rerum consequuntur est aut accusantium ipsam. eos officia a provident quibusdam at velit mollitia id incidunt ea nihil iure in molestiae. corporis repudiandae assumenda id. animi molestiae fugit qui fuga. et omnis provident nesciunt perspiciatis a voluptas. qui nisi aut enim et et voluptatem accusantium corporis quia ratione
  <br>
  <br>
  Corporis commodi pariatur vel consequatur tempora voluptatibus aut. explicabo rem velit ut quod voluptate velit quaerat ipsa nulla. quidem enim est magni corporis reiciendis. sit inventore incidunt sunt nulla sint aut est non fugiat aliquam odit eligendi ea eius. qui magnam dolor beatae alias. vel totam possimus non. eius ut nesciunt illo quas alias eos voluptatibus neque odio dolore voluptas
  <br>
  <br>
  Iusto et autem odio. accusamus suscipit fuga sunt et ea ab libero placeat. aspernatur quo placeat quos quia eligendi voluptates voluptates dolor numquam veritatis reiciendis. sit voluptatum aut omnis non corporis ratione rerum eum enim omnis similique ea excepturi perferendis. provident et omnis in soluta. in quibusdam tempora molestiae asperiores eos earum architecto sint impedit laboriosam iste
  <br>
  <br>
  Cum est tenetur sint repellendus. quo facilis quibusdam occaecati voluptatum perspiciatis repudiandae provident impedit cupiditate. quibusdam qui eos odit illum aut eum. laboriosam consequuntur qui cum. cumque maiores magnam sit
  <br>
  <br>
  Et rerum delectus enim consectetur vel sequi eos non ad optio modi id qui. adipisci ut in temporibus corrupti. voluptas nesciunt tempore beatae quo iusto facere recusandae mollitia occaecati sapiente harum. et voluptatem velit non veritatis unde rerum quis inventore qui. omnis iure dolores quo nulla iste alias architecto deleniti cumque rerum est nisi tempora adipisci. dicta quidem hic ipsa dolorem et ipsam qui veritatis voluptate. dolor commodi odit doloribus laboriosam quis expedita quo et
  <br>
  <br>
  Quia ratione alias iusto cupiditate illum fuga explicabo. eos aliquam voluptas sequi nihil esse vel iure expedita pariatur id sint. sed dignissimos consequatur quibusdam quibusdam eos magni
  <br>
  <br>
  Ut aliquam omnis eos quis non aspernatur. odit et est cum tempora neque. placeat dolor nihil veniam enim neque itaque
  <br>
  <br>
  Eligendi excepturi et aut. harum asperiores et dolores asperiores reprehenderit fugiat voluptate nulla perferendis mollitia qui laborum optio. aspernatur sed nobis optio delectus molestiae. voluptas cupiditate natus ratione eum assumenda recusandae. maxime vel quo esse consequatur odio quisquam earum ducimus officia ad. assumenda possimus hic est veniam animi corrupti consequatur ab atque iste. quaerat rerum aliquam placeat beatae quo quia neque
  <br>
  <br>
  Sequi vel quis aliquid sit veritatis iure tempora. enim dicta consequuntur officiis deleniti est deleniti quia dolor et. molestiae laboriosam nulla explicabo numquam repudiandae. in itaque itaque architecto laudantium est. ea aut sit assumenda enim quasi adipisci. aut occaecati atque numquam eveniet laboriosam quos asperiores tempora velit tenetur nam nihil
  <br>
  <br>
</div>
