
<div class='col-xs-12'>
  <div class='row'>
    <div class='col-sm-12'>
      <div class='page-header'>
        <h1 class='pull-left'>
          <i class='icon-mail-reply'></i>
          <span>Email templates</span>
        </h1>
        <div class='pull-right'>
          <ul class='breadcrumb'>
            <li>
              <a href='index.html'>
                <i class='icon-bar-chart'></i>
              </a>
            </li>
            <li class='separator'>
              <i class='icon-angle-right'></i>
            </li>
            <li class='active'>Email templates</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class='row'>
    <div class='col-sm-12'>
      <div class='box'>
        <div class='box-header'>
          <div class='title'>
            Account confirmation
            <small class='text-muted'>(choose color)</small>
          </div>
          <div class='actions'>
            <a class="btn box-remove btn-xs btn-link" href="#"><i class='icon-remove'></i>
            </a>

            <a class="btn box-collapse btn-xs btn-link" href="#"><i></i>
            </a>
          </div>
        </div>
        <div class='box-content'>
          <div class='row'>
            <div class='col-xs-2'><a style="height:30px;background:#f34541;display:block;width:100%;" target="_blank" href="emails/confirmation/red.html"></a></div>
            <div class='col-xs-2'><a style="height:30px;background:#f8a326;display:block;width:100%;" target="_blank" href="emails/confirmation/orange.html"></a></div>
            <div class='col-xs-2'><a style="height:30px;background:#00acec;display:block;width:100%;" target="_blank" href="emails/confirmation/blue.html"></a></div>
            <div class='col-xs-2'><a style="height:30px;background:#9564e2;display:block;width:100%;" target="_blank" href="emails/confirmation/purple.html"></a></div>
            <div class='col-xs-2'><a style="height:30px;background:#49bf67;display:block;width:100%;" target="_blank" href="emails/confirmation/green.html"></a></div>
            <div class='col-xs-2'><a style="height:30px;background:#999999;display:block;width:100%;" target="_blank" href="emails/confirmation/muted.html"></a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class='row'>
    <div class='col-sm-12'>
      <div class='box'>
        <div class='box-header'>
          <div class='title'>
            Password reset
            <small class='text-muted'>(choose color)</small>
          </div>
          <div class='actions'>
            <a class="btn box-remove btn-xs btn-link" href="#"><i class='icon-remove'></i>
            </a>

            <a class="btn box-collapse btn-xs btn-link" href="#"><i></i>
            </a>
          </div>
        </div>
        <div class='box-content'>
          <div class='row'>
            <div class='col-xs-2'><a style="height:30px;background:#f34541;display:block;width:100%;" target="_blank" href="emails/reset/red.html"></a></div>
            <div class='col-xs-2'><a style="height:30px;background:#f8a326;display:block;width:100%;" target="_blank" href="emails/reset/orange.html"></a></div>
            <div class='col-xs-2'><a style="height:30px;background:#00acec;display:block;width:100%;" target="_blank" href="emails/reset/blue.html"></a></div>
            <div class='col-xs-2'><a style="height:30px;background:#9564e2;display:block;width:100%;" target="_blank" href="emails/reset/purple.html"></a></div>
            <div class='col-xs-2'><a style="height:30px;background:#49bf67;display:block;width:100%;" target="_blank" href="emails/reset/green.html"></a></div>
            <div class='col-xs-2'><a style="height:30px;background:#999999;display:block;width:100%;" target="_blank" href="emails/reset/muted.html"></a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class='row'>
    <div class='col-sm-12'>
      <div class='box'>
        <div class='box-header'>
          <div class='title'>
            Newsletter
            <small class='text-muted'>(choose color)</small>
          </div>
          <div class='actions'>
            <a class="btn box-remove btn-xs btn-link" href="#"><i class='icon-remove'></i>
            </a>

            <a class="btn box-collapse btn-xs btn-link" href="#"><i></i>
            </a>
          </div>
        </div>
        <div class='box-content'>
          <div class='row'>
            <div class='col-xs-2'><a style="height:30px;background:#f34541;display:block;width:100%;" target="_blank" href="emails/newsletter/red.html"></a></div>
            <div class='col-xs-2'><a style="height:30px;background:#f8a326;display:block;width:100%;" target="_blank" href="emails/newsletter/orange.html"></a></div>
            <div class='col-xs-2'><a style="height:30px;background:#00acec;display:block;width:100%;" target="_blank" href="emails/newsletter/blue.html"></a></div>
            <div class='col-xs-2'><a style="height:30px;background:#9564e2;display:block;width:100%;" target="_blank" href="emails/newsletter/purple.html"></a></div>
            <div class='col-xs-2'><a style="height:30px;background:#49bf67;display:block;width:100%;" target="_blank" href="emails/newsletter/green.html"></a></div>
            <div class='col-xs-2'><a style="height:30px;background:#999999;display:block;width:100%;" target="_blank" href="emails/newsletter/muted.html"></a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
