<div class='row'>
  <div class='col-sm-12'>
    <div class='page-header'>
      <h1 class='pull-left'>
        <i class='icon-edit'></i>
        <span>Forms styles and features</span>
      </h1>
      <div class='pull-right'>
        <ul class='breadcrumb'>
          <li>
            <a href='index.html'>
              <i class='icon-bar-chart'></i>
            </a>
          </li>
          <li class='separator'>
            <i class='icon-angle-right'></i>
          </li>
          <li>
            Forms
          </li>
          <li class='separator'>
            <i class='icon-angle-right'></i>
          </li>
          <li class='active'>Form styles and features</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class='row'>
  <div class='col-sm-12'>
    <div class='box bordered-box blue-border'>
      <div class='box-header blue-background'>
        <div class='title'>
          <i class='icon-ban-circle'></i>
          Example form
        </div>
        <div class='actions'>
          <a class="btn box-remove btn-xs btn-link" href="#"><i class='icon-remove'></i>
          </a>

          <a class="btn box-collapse btn-xs btn-link" href="#"><i></i>
          </a>
        </div>
      </div>
      <div class='box-content box-double-padding'>
        <form class='form' style='margin-bottom: 0;'>
          <fieldset>
            <div class='col-sm-4'>
              <div class='box'>
                <div class='lead'>
                  <i class='icon-github text-contrast'></i>
                  Lorem ipsum
                </div>
                <small class='text-muted'>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nisl est, vulputate at porttitor non, interdum a mauris. Phasellus imperdiet gravida pulvinar.</small>
              </div>
            </div>
            <div class='col-sm-7 col-sm-offset-1'>
              <div class='form-group'>
                <label>Full name</label>
                <input class='form-control' id='full-name' type='text'>
              </div>
              <div class='form-group'>
                <label>Street</label>
                <input class='form-control' id='address-line2' placeholder='Street placeholder' type='text'>
                <p class='help-block'>
                  <small class='text-muted'>Description for street field</small>
                </p>
              </div>
              <div class='form-group'>
                <label>City</label>
                <input class='form-control' id='city' placeholder='City placeholder' type='text'>
              </div>
              <div class='form-group'>
                <label>Company</label>
                <div class='row'>
                  <div class='col-sm-6 col-md-6 col-lg-4'>
                    <div class='input-group'>
                      <input class='form-control' id='appendedInputButtons1' type='text'>
                      <span class='input-group-btn'>
                        <button class='btn' type='button'>
                          <i class='icon-building'></i>
                        </button>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </fieldset>
          <hr class='hr-normal'>
          <fieldset>
            <div class='col-sm-4'>
              <div class='box'>
                <div class='lead'>
                  <i class='icon-ambulance contrast'></i>
                  Dapibus suscipit arcu
                </div>
                <small class='text-muted'>Proin eu nibh ut urna tristique rhoncus. Sed euismod, quam sed dignissim imperdiet, nulla leo vehicula mi, a sagittis lacus augue nec sapien.</small>
              </div>
            </div>
            <div class='col-sm-7 col-sm-offset-1'>
              <div class='form-group'>
                <label>Disabled input</label>
                <input class='form-control' disabled id='full-name1' type='text'>
              </div>
              <div class='form-group'>
                <label class='checkbox-inline'>
                  <input id='inlineCheckbox1' type='checkbox' value='option1'>
                  Inline 1
                </label>
                <label class='checkbox-inline'>
                  <input id='inlineCheckbox2' type='checkbox' value='option2'>
                  Inline 2
                </label>
                <label class='checkbox-inline'>
                  <input id='inlineCheckbox3' type='checkbox' value='option3'>
                  Inline 3
                </label>
              </div>
              <div class='form-group'>
                <label>Money</label>
                <div class='row'>
                  <div class='col-sm-6 col-md-6 col-lg-4'>
                    <div class='input-group'>
                      <span class='input-group-addon'>
                        $
                      </span>
                      <input class='form-control input-lg text-right' id='appendedPrependedInput' type='text'>
                      <span class='input-group-addon'>.00</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </fieldset>
          <div class='form-actions'>
            <div class='row'>
              <div class='col-sm-7 col-sm-offset-5'>
                <div class='btn btn-primary btn-lg'>
                  <i class='icon-save'></i>
                  Save
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class='group-header'>
  <div class='row'>
    <div class='col-sm-6 col-sm-offset-3'>
      <div class='text-center'>
        <h2>Detailed look on form elements</h2>
        <small class='text-muted'>List of all frequently used form elements that you'll need.</small>
      </div>
    </div>
  </div>
</div>
<div class='row'>
  <div class='col-sm-12'>
    <div class='box'>
      <div class='box-header blue-background'>
        <div class='title'>
          <div class='icon-edit'></div>
          Form controls
        </div>
        <div class='actions'>
          <a class="btn box-remove btn-xs btn-link" href="#"><i class='icon-remove'></i>
          </a>

          <a class="btn box-collapse btn-xs btn-link" href="#"><i></i>
          </a>
        </div>
      </div>
      <div class='box-content'>
                <form class="form form-horizontal" style="margin-bottom: 0;" method="post" action="#" accept-charset="UTF-8"><input name="authenticity_token" type="hidden" /><div class='form-group'>
          <label class='col-md-2 control-label' for='inputText1'>Text field</label>
          <div class='col-md-5'>
            <input class='form-control' id='inputText1' placeholder='Text field' type='text'>
          </div>
        </div>
        <div class='form-group'>
          <label class='col-md-2 control-label' for='inputPassword4'>Password field</label>
          <div class='col-md-5'>
            <input class='form-control' id='inputPassword4' placeholder='Password field' type='password' value='Top secret!'>
          </div>
        </div>
        <div class='form-group'>
          <label class='col-md-2 control-label' for='inputTextArea1'>Textarea</label>
          <div class='col-md-5'>
            <textarea class='form-control' id='inputTextArea1' placeholder='Textarea' rows='3'></textarea>
          </div>
        </div>
        <div class='form-group'>
          <label class='col-md-2 control-label' for='disabledInput1'>Disabled input</label>
          <div class='col-md-5'>
            <input class='form-control' disabled='' id='disabledInput1' placeholder='Disabled input here...' type='text'>
          </div>
        </div>
        <hr class='hr-normal'>
        <div class='form-group'>
          <label class='col-md-2 control-label'>Checkboxes</label>
          <div class='col-md-10'>
            <div class='checkbox'>
              <label>
                <input type='checkbox' value=''>
                sit totam labore sunt porro possimus cum officia earum deserunt
              </label>
            </div>
            <div class='checkbox'>
              <label>
                <input type='checkbox' value=''>
                sit culpa sequi rem dolorem
              </label>
            </div>
            <div class='checkbox'>
              <label>
                <input type='checkbox' value=''>
                autem mollitia nulla aliquam
              </label>
            </div>
          </div>
        </div>
        <div class='form-group'>
          <label class='col-md-2 control-label'>Inline checkboxes</label>
          <div class='col-md-10'>
            <label class='checkbox-inline'>
              <input type='checkbox' value=''>
              Officia
            </label>
            <label class='checkbox-inline'>
              <input type='checkbox' value=''>
              Ut
            </label>
            <label class='checkbox-inline'>
              <input type='checkbox' value=''>
              Non
            </label>
          </div>
        </div>
        <hr class='hr-normal'>
        <div class='form-group'>
          <label class='col-md-2 control-label'>Radios</label>
          <div class='col-md-10'>
            <div class='radio'>
              <label>
                <input type='radio' value=''>
                est maiores est fugiat praesentium unde ut
              </label>
            </div>
            <div class='radio'>
              <label>
                <input type='radio' value=''>
                eum tenetur necessitatibus expedita fuga magnam consequatur
              </label>
            </div>
            <div class='radio'>
              <label>
                <input type='radio' value=''>
                quae qui sit pariatur eos perferendis
              </label>
            </div>
          </div>
        </div>
        <div class='form-group'>
          <label class='col-md-2 control-label'>Inline radios</label>
          <div class='col-md-10'>
            <label class='radio radio-inline'>
              <input type='radio' value=''>
              Enim
            </label>
            <label class='radio radio-inline'>
              <input type='radio' value=''>
              Eos
            </label>
            <label class='radio radio-inline'>
              <input type='radio' value=''>
              In
            </label>
          </div>
        </div>
        <hr class='hr-normal'>
        <div class='form-group'>
          <label class='col-md-2 control-label' for='inputSelect'>Select</label>
          <div class='col-md-5'>
            <select class='form-control' id='inputSelect'>
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </div>
        </div>
        <div class='form-group'>
          <label class='col-md-2 control-label' for='inputSelectMulti'>Multiple select</label>
          <div class='col-md-5'>
            <select class='form-control' id='inputSelectMulti' multiple='multiple'>
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </div>
        </div>
        <hr class='hr-normal'>
        <div class='form-group has-warning'>
          <label class='col-md-2 control-label' for='inputWarning'>Input with warning</label>
          <div class='col-md-5'>
            <input class='form-control' id='inputWarning' type='text'>
          </div>
          <div class='col-md-5'>
            <span class='help-block'>Something may have gone wrong</span>
          </div>
        </div>
        <div class='form-group has-error'>
          <label class='col-md-2 control-label' for='inputError'>Input with error</label>
          <div class='col-md-5'>
            <input class='form-control' id='inputError' type='text'>
            <span class='help-block'>Please correct the error</span>
          </div>
        </div>
        <div class='form-group has-success'>
          <label class='col-md-2 control-label' for='inputSuccess'>Input with success</label>
          <div class='col-md-5'>
            <input class='form-control' id='inputSuccess' type='text'>
          </div>
          <div class='col-md-5'>
            <span class='help-block'>Woohoo!</span>
          </div>
        </div>
        <div class='form-actions form-actions-padding-sm'>
          <div class='row'>
            <div class='col-md-10 col-md-offset-2'>
              <button class='btn btn-primary' type='submit'>
                <i class='icon-save'></i>
                Save
              </button>
              <button class='btn' type='submit'>Cancel</button>
            </div>
          </div>
        </div>
        </form>

      </div>
    </div>
  </div>
</div>
<div class='group-header'>
  <div class='row'>
    <div class='col-sm-6 col-sm-offset-3'>
      <div class='text-center'>
        <h2>Prepends and appends</h2>
        <small class='text-muted'>Text inputs can be prepended/appended with buttons, text labels, etc.</small>
      </div>
    </div>
  </div>
</div>
<div class='row'>
  <div class='col-sm-12'>
    <div class='box'>
      <div class='box-header green-background'>
        <div class='title'>
          <div class='icon-plus'></div>
          Prepends and appends
        </div>
        <div class='actions'>
          <a class="btn box-remove btn-xs btn-link" href="#"><i class='icon-remove'></i>
          </a>

          <a class="btn box-collapse btn-xs btn-link" href="#"><i></i>
          </a>
        </div>
      </div>
      <div class='box-content'>
                <form class="form form-horizontal" style="margin-bottom: 0;" method="post" action="#" accept-charset="UTF-8"><input name="authenticity_token" type="hidden" /><div class='form-group'>
          <label class='control-label col-md-3' for='prependedInput'>Prepended input</label>
          <div class='col-md-9'>
            <div class='row'>
              <div class='col-sm-6'>
                <div class='input-group'>
                  <span class='input-group-addon'>@</span>
                  <input class='form-control' id='prependedInput' placeholder='Username' type='text'>
                </div>
              </div>
            </div>
          </div>
        </div>
        <hr class='hr-normal'>
        <div class='form-group'>
          <label class='control-label col-md-3' for='appendedInput'>Appended input</label>
          <div class='col-md-9'>
            <div class='row'>
              <div class='col-sm-6'>
                <div class='input-group'>
                  <input class='form-control' id='appendedInput' type='text'>
                  <span class='input-group-addon'>.00</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <hr class='hr-normal'>
        <div class='form-group'>
          <label class='control-label col-md-3' for='appendedPrependedInput1'>Combined</label>
          <div class='col-md-9'>
            <div class='row'>
              <div class='col-sm-6'>
                <div class='input-group'>
                  <span class='input-group-addon'>$</span>
                  <input class='form-control' id='appendedPrependedInput1' type='text'>
                  <span class='input-group-addon'>.00</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <hr class='hr-normal'>
        <div class='form-group'>
          <label class='control-label col-md-3' for='appendedInputButtons'>With buttons</label>
          <div class='col-md-9'>
            <div class='row'>
              <div class='col-sm-6'>
                <div class='input-group'>
                  <input class='form-control' id='appendedInputButtons' type='text'>
                  <div class='input-group-btn'>
                    <button class='btn' type='button'>Search</button>
                    <button class='btn' type='button'>Options</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <hr class='hr-normal'>
        <div class='form-group'>
          <label class='control-label col-md-3' for='appendedPrependedDropdownButton'>With dropdowns</label>
          <div class='col-md-9'>
            <div class='row'>
              <div class='col-sm-6'>
                <div class='input-group'>
                  <div class='input-group-btn'>
                    <div class='btn-group dropdown'>
                      <button class='btn dropdown-toggle' data-toggle='dropdown'>
                        Action
                        <span class='caret'></span>
                      </button>
                      <ul class='dropdown-menu'>
                        <li>
                          <a href='#'>Action</a>
                        </li>
                        <li>
                          <a href='#'>Another action</a>
                        </li>
                        <li>
                          <a href='#'>Something else here</a>
                        </li>
                        <li class='divider'></li>
                        <li>
                          <a href='#'>Separated link</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <input class='form-control' id='appendedPrependedDropdownButton' type='text'>
                  <div class='input-group-btn'>
                    <div class='btn-group dropdown'>
                      <button class='btn dropdown-toggle' data-toggle='dropdown'>
                        Action
                        <span class='caret'></span>
                      </button>
                      <ul class='dropdown-menu'>
                        <li>
                          <a href='#'>Action</a>
                        </li>
                        <li>
                          <a href='#'>Another action</a>
                        </li>
                        <li>
                          <a href='#'>Something else here</a>
                        </li>
                        <li class='divider'></li>
                        <li>
                          <a href='#'>Separated link</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        </form>

      </div>
    </div>
  </div>
</div>
<div class='group-header'>
  <div class='row'>
    <div class='col-sm-6 col-sm-offset-3'>
      <div class='text-center'>
        <h2>Sizes</h2>
        <small class='text-muted'>All form elements can be sized using .input-sm - .input-lg.</small>
      </div>
    </div>
  </div>
</div>
<div class='row'>
  <div class='col-sm-12'>
    <div class='box'>
      <div class='box-header purple-background'>
        <div class='title'>
          <div class='icon-resize-vertical'></div>
          Sizing
        </div>
        <div class='actions'>
          <a class="btn box-remove btn-xs btn-link" href="#"><i class='icon-remove'></i>
          </a>

          <a class="btn box-collapse btn-xs btn-link" href="#"><i></i>
          </a>
        </div>
      </div>
      <div class='box-content'>
                <form class="form form-horizontal" style="margin-bottom: 0;" method="post" action="#" accept-charset="UTF-8"><input name="authenticity_token" type="hidden" /><div class='form-group'>
          <label class='control-label col-md-3'>Small</label>
          <div class='col-md-9'>
            <input class='form-control input-sm' placeholder='.input-sm' type='text'>
          </div>
        </div>
        <div class='form-group'>
          <label class='control-label col-md-3'>Default</label>
          <div class='col-md-9'>
            <input class='form-control' placeholder='Default input' type='text'>
          </div>
        </div>
        <div class='form-group'>
          <label class='control-label col-md-3'>Large</label>
          <div class='col-md-9'>
            <input class='form-control input-lg' placeholder='.input-lg' type='text'>
          </div>
        </div>
        <div class='form-group'>
          <div class='col-md-9 col-md-offset-3'>
            <hr class='hr-normal'>
          </div>
        </div>
        <div class='form-group'>
          <label class='control-label col-md-3'>Small</label>
          <div class='col-md-9'>
            <select class='form-control input-sm'>
              <option value=''>.input-sm</option>
            </select>
          </div>
        </div>
        <div class='form-group'>
          <label class='control-label col-md-3'>Default</label>
          <div class='col-md-9'>
            <select class='form-control'>
              <option value=''>Default</option>
            </select>
          </div>
        </div>
        <div class='form-group'>
          <label class='control-label col-md-3'>Large</label>
          <div class='col-md-9'>
            <select class='form-control input-lg'>
              <option value=''>.input-lg</option>
            </select>
          </div>
        </div>
        </form>

      </div>
    </div>
  </div>
</div>
<div class='row'>
  <div class='col-sm-12'>
    <div class='box'>
      <div class='box-header orange-background'>
        <div class='title'>
          <div class='icon-resize-horizontal'></div>
          Grid sizing
        </div>
        <div class='actions'>
          <a class="btn box-remove btn-xs btn-link" href="#"><i class='icon-remove'></i>
          </a>

          <a class="btn box-collapse btn-xs btn-link" href="#"><i></i>
          </a>
        </div>
      </div>
      <div class='box-content'>
                <form class="form form-horizontal" style="margin-bottom: 0;" method="post" action="#" accept-charset="UTF-8"><input name="authenticity_token" type="hidden" /><div class='form-group'>
          <label class='control-label col-sm-3 col-xs-12'>.col-xs-5.col-md-2</label>
          <div class='col-xs-5 col-md-2'>
            <input class='form-control' placeholder='.col-xs-5.col-md-2' type='text'>
          </div>
        </div>
        <div class='form-group'>
          <label class='control-label col-sm-3 col-xs-12'>.col-xs-6.col-md-3</label>
          <div class='col-xs-6 col-md-3'>
            <input class='form-control' placeholder='.col-xs-6.col-md-3' type='text'>
          </div>
        </div>
        <div class='form-group'>
          <label class='control-label col-sm-3 col-xs-12'>.col-xs-7.col-md-4</label>
          <div class='col-xs-7 col-md-4'>
            <input class='form-control' placeholder='.col-xs-7.col-md-4' type='text'>
          </div>
        </div>
        <div class='form-group'>
          <label class='control-label col-sm-3 col-xs-12'>.col-xs-8.col-md-5</label>
          <div class='col-xs-8 col-md-5'>
            <input class='form-control' placeholder='.col-xs-8.col-md-5' type='text'>
          </div>
        </div>
        <div class='form-group'>
          <div class='col-sm-9 col-sm-offset-3 col-xs-12'>
            <hr class='hr-normal'>
          </div>
        </div>
        <div class='form-group'>
          <label class='control-label col-sm-3 col-xs-12'>.col-xs-8.col-md-6</label>
          <div class='col-xs-8 col-md-6'>
            <select class='form-control'>
              <option value=''>.col-xs-8.col-md-6</option>
            </select>
          </div>
        </div>
        <div class='form-group'>
          <label class='control-label col-sm-3 col-xs-12'>.col-xs-7.col-md-5</label>
          <div class='col-xs-7 col-md-5'>
            <select class='form-control'>
              <option value=''>.col-xs-7.col-md-5</option>
            </select>
          </div>
        </div>
        <div class='form-group'>
          <label class='control-label col-sm-3 col-xs-12'>.col-xs-6.col-md-4</label>
          <div class='col-xs-6 col-md-4'>
            <select class='form-control'>
              <option value=''>.col-xs-6.col-md-4</option>
            </select>
          </div>
        </div>
        <div class='form-group'>
          <label class='control-label col-sm-3 col-xs-12'>.col-xs-5.col-md-3</label>
          <div class='col-xs-5 col-md-3'>
            <select class='form-control'>
              <option value=''>.col-xs-5.col-md-3</option>
            </select>
          </div>
        </div>
        <div class='form-group'>
          <label class='control-label col-sm-3 col-xs-12'>.col-xs-4.col-md-2</label>
          <div class='col-xs-4 col-md-2'>
            <select class='form-control'>
              <option value=''>.col-xs-4.col-md-2</option>
            </select>
          </div>
        </div>
        </form>

      </div>
    </div>
  </div>
</div>
<div class='row'>
  <div class='col-sm-12'>
    <div class='box'>
      <div class='box-header red-background'>
        <div class='title'>
          <div class='icon-resize-full'></div>
          Complete grid sizing
        </div>
        <div class='actions'>
          <a class="btn box-remove btn-xs btn-link" href="#"><i class='icon-remove'></i>
          </a>

          <a class="btn box-collapse btn-xs btn-link" href="#"><i></i>
          </a>
        </div>
      </div>
      <div class='box-content box-double-padding'>
        <a class="btn btn-success btn-block btn-lg" href="/grid.html">Take a look at Grid page</a>
      </div>
    </div>
  </div>
</div>
<div class='group-header'>
  <div class='row'>
    <div class='col-sm-6 col-sm-offset-3'>
      <div class='text-center'>
        <h2>Additional form styles</h2>
      </div>
    </div>
  </div>
</div>
<div class='row'>
  <div class='col-sm-12'>
    <div class='box'>
      <div class='box-header blue-background'>
        <div class='title'>
          <div class='icon-edit'></div>
          Striped form
        </div>
        <div class='actions'>
          <a class="btn box-remove btn-xs btn-link" href="#"><i class='icon-remove'></i>
          </a>

          <a class="btn box-collapse btn-xs btn-link" href="#"><i></i>
          </a>
        </div>
      </div>
      <div class='box-content box-no-padding'>
                <form class="form form-horizontal form-striped" style="margin-bottom: 0;" method="post" action="#" accept-charset="UTF-8"><input name="authenticity_token" type="hidden" /><div class='form-group'>
          <label class='col-md-3 control-label' for='inputText2'>Text field</label>
          <div class='col-md-9'>
            <input class='form-control' id='inputText2' placeholder='Text field' type='text'>
          </div>
        </div>
        <div class='form-group'>
          <label class='col-md-3 control-label' for='inputPassword1'>Password field</label>
          <div class='col-md-9'>
            <input class='form-control' id='inputPassword1' placeholder='Password field' type='password' value='Top secret!'>
          </div>
        </div>
        <div class='form-group'>
          <label class='col-md-3 control-label' for='inputTextArea2'>Textarea</label>
          <div class='col-md-9'>
            <textarea class='form-control' id='inputTextArea2' placeholder='Textarea' rows='3'></textarea>
          </div>
        </div>
        <div class='form-group'>
          <label class='col-md-3 control-label' for='disabledInput2'>Disabled input</label>
          <div class='col-md-9'>
            <input class='form-control' disabled='' id='disabledInput2' placeholder='Disabled input here...' type='text'>
          </div>
        </div>
        <div class='form-actions' style='margin-bottom: 0;'>
          <div class='row'>
            <div class='col-md-9 col-md-offset-3'>
              <div class='btn btn-primary btn-lg'>
                <i class='icon-save'></i>
                Save
              </div>
            </div>
          </div>
        </div>
        </form>

      </div>
    </div>
  </div>
</div>
<div class='row'>
  <div class='col-sm-12'>
    <div class='box'>
      <div class='box-header red-background'>
        <div class='title'>
          <div class='icon-edit'></div>
          Vertical form
        </div>
        <div class='actions'>
          <a class="btn box-remove btn-xs btn-link" href="#"><i class='icon-remove'></i>
          </a>

          <a class="btn box-collapse btn-xs btn-link" href="#"><i></i>
          </a>
        </div>
      </div>
      <div class='box-content'>
                <form class="form" style="margin-bottom: 0;" method="post" action="#" accept-charset="UTF-8"><input name="authenticity_token" type="hidden" /><div class='form-group'>
          <label for='inputText'>Text field</label>
          <input class='form-control' id='inputText' placeholder='Text field' type='text'>
        </div>
        <div class='form-group'>
          <label for='inputPassword'>Password field</label>
          <input class='form-control' id='inputPassword' placeholder='Password field' type='password' value='Top secret!'>
        </div>
        <div class='form-group'>
          <label for='inputTextArea'>Textarea</label>
          <textarea class='form-control' id='inputTextArea' placeholder='Textarea' rows='3'></textarea>
        </div>
        <div class='form-group'>
          <label>Uneditable input</label>
          <span class='uneditable-input form-control'>Some value here</span>
        </div>
        <div class='form-group'>
          <label for='disabledInput'>Disabled input</label>
          <input class='form-control' disabled='' id='disabledInput' placeholder='Disabled input here...' type='text'>
        </div>
        <div class='form-actions form-actions-padding-sm form-actions-padding-md form-actions-padding-lg' style='margin-bottom: 0;'>
          <div class='btn btn-primary btn-lg'>
            <i class='icon-save'></i>
            Save
          </div>
        </div>
        </form>

      </div>
    </div>
  </div>
</div>
