
<div class='col-xs-12'>
  <div class='row'>
    <div class='col-sm-12'>
      <div class='page-header'>
        <h1 class='pull-left'>
          <i class='icon-picture'></i>
          <span>Gallery</span>
        </h1>
        <div class='pull-right'>
          <ul class='breadcrumb'>
            <li>
              <a href='index.html'>
                <i class='icon-bar-chart'></i>
              </a>
            </li>
            <li class='separator'>
              <i class='icon-angle-right'></i>
            </li>
            <li>Example pages</li>
            <li class='separator'>
              <i class='icon-angle-right'></i>
            </li>
            <li class='active'>Gallery</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class='row'>
    <div class='col-sm-12'>
      <div class='box'>
        <div class='box-content'>
          <div class='gallery'>
            <ul class='list-unstyled list-inline'>
              <li>
                <div class='picture'>
                  <div class='tags'>
                    <div class='label label-important'>Margarita</div>
                    <div class='label label-success'>Geraldine</div>
                    <div class='label label-info'>Hudson</div>
                  </div>
                  <div class='actions'>
                    <div class='pull-left'>
                      <a class='btn btn-link' href='#'>
                        <small>
                          <i class='icon-user'></i>
                          Hudson
                        </small>
                      </a>
                    </div>
                    <div class='pull-right'>
                      <a class='btn btn-link'>
                        <i class='icon-share'></i>
                        5
                      </a>
                      <a class='btn btn-link'>
                        <i class='icon-comment'></i>
                        5
                      </a>
                    </div>
                  </div>
                  <a data-lightbox='flatty' href='http://placehold.it/500x500/f34541/fff&amp;text=1'>
                    <img src="http://placehold.it/250x150&text=1" />
                  </a>
                </div>
              </li>
              <li>
                <div class='picture'>
                  <div class='tags'>
                    <div class='label label-important'>Kellie</div>
                    <div class='label label-success'>Tricia</div>
                    <div class='label label-info'>Patrick</div>
                  </div>
                  <div class='actions'>
                    <div class='pull-left'>
                      <a class='btn btn-link' href='#'>
                        <small>
                          <i class='icon-user'></i>
                          Alma
                        </small>
                      </a>
                    </div>
                    <div class='pull-right'>
                      <a class='btn btn-link'>
                        <i class='icon-share'></i>
                        8
                      </a>
                      <a class='btn btn-link'>
                        <i class='icon-comment'></i>
                        7
                      </a>
                    </div>
                  </div>
                  <a data-lightbox='flatty' href='http://placehold.it/500x500/f34541/fff&amp;text=2'>
                    <img src="http://placehold.it/250x150&text=2" />
                  </a>
                </div>
              </li>
              <li>
                <div class='picture'>
                  <div class='tags'>
                    <div class='label label-important'>Melinda</div>
                    <div class='label label-success'>Jean</div>
                    <div class='label label-info'>inley</div>
                  </div>
                  <div class='actions'>
                    <div class='pull-left'>
                      <a class='btn btn-link' href='#'>
                        <small>
                          <i class='icon-user'></i>
                          Caleb
                        </small>
                      </a>
                    </div>
                    <div class='pull-right'>
                      <a class='btn btn-link'>
                        <i class='icon-share'></i>
                        19
                      </a>
                      <a class='btn btn-link'>
                        <i class='icon-comment'></i>
                        17
                      </a>
                    </div>
                  </div>
                  <a data-lightbox='flatty' href='http://placehold.it/500x500/f34541/fff&amp;text=3'>
                    <img src="http://placehold.it/250x150&text=3" />
                  </a>
                </div>
              </li>
              <li>
                <div class='picture'>
                  <div class='tags'>
                    <div class='label label-important'>Lexi</div>
                    <div class='label label-success'>Dalton</div>
                    <div class='label label-info'>Alondra</div>
                  </div>
                  <div class='actions'>
                    <div class='pull-left'>
                      <a class='btn btn-link' href='#'>
                        <small>
                          <i class='icon-user'></i>
                          Omar
                        </small>
                      </a>
                    </div>
                    <div class='pull-right'>
                      <a class='btn btn-link'>
                        <i class='icon-share'></i>
                        13
                      </a>
                      <a class='btn btn-link'>
                        <i class='icon-comment'></i>
                        8
                      </a>
                    </div>
                  </div>
                  <a data-lightbox='flatty' href='http://placehold.it/500x500/f34541/fff&amp;text=4'>
                    <img src="http://placehold.it/250x150&text=4" />
                  </a>
                </div>
              </li>
              <li>
                <div class='picture'>
                  <div class='tags'>
                    <div class='label label-important'>Jamal</div>
                    <div class='label label-success'>Brooklynn</div>
                    <div class='label label-info'>Caitlyn</div>
                  </div>
                  <div class='actions'>
                    <div class='pull-left'>
                      <a class='btn btn-link' href='#'>
                        <small>
                          <i class='icon-user'></i>
                          Brendon
                        </small>
                      </a>
                    </div>
                    <div class='pull-right'>
                      <a class='btn btn-link'>
                        <i class='icon-share'></i>
                        16
                      </a>
                      <a class='btn btn-link'>
                        <i class='icon-comment'></i>
                        20
                      </a>
                    </div>
                  </div>
                  <a data-lightbox='flatty' href='http://placehold.it/500x500/f34541/fff&amp;text=5'>
                    <img src="http://placehold.it/250x150&text=5" />
                  </a>
                </div>
              </li>
              <li>
                <div class='picture'>
                  <div class='tags'>
                    <div class='label label-important'>Kaylin</div>
                    <div class='label label-success'>Brock</div>
                    <div class='label label-info'>Eoin</div>
                  </div>
                  <div class='actions'>
                    <div class='pull-left'>
                      <a class='btn btn-link' href='#'>
                        <small>
                          <i class='icon-user'></i>
                          Tonia
                        </small>
                      </a>
                    </div>
                    <div class='pull-right'>
                      <a class='btn btn-link'>
                        <i class='icon-share'></i>
                        2
                      </a>
                      <a class='btn btn-link'>
                        <i class='icon-comment'></i>
                        4
                      </a>
                    </div>
                  </div>
                  <a data-lightbox='flatty' href='http://placehold.it/500x500/f34541/fff&amp;text=6'>
                    <img src="http://placehold.it/250x150&text=6" />
                  </a>
                </div>
              </li>
              <li>
                <div class='picture'>
                  <div class='tags'>
                    <div class='label label-important'>Connor</div>
                    <div class='label label-success'>Grady</div>
                    <div class='label label-info'>Moses</div>
                  </div>
                  <div class='actions'>
                    <div class='pull-left'>
                      <a class='btn btn-link' href='#'>
                        <small>
                          <i class='icon-user'></i>
                          Davion
                        </small>
                      </a>
                    </div>
                    <div class='pull-right'>
                      <a class='btn btn-link'>
                        <i class='icon-share'></i>
                        5
                      </a>
                      <a class='btn btn-link'>
                        <i class='icon-comment'></i>
                        4
                      </a>
                    </div>
                  </div>
                  <a data-lightbox='flatty' href='http://placehold.it/500x500/f34541/fff&amp;text=7'>
                    <img src="http://placehold.it/250x150&text=7" />
                  </a>
                </div>
              </li>
              <li>
                <div class='picture'>
                  <div class='tags'>
                    <div class='label label-important'>Cathleen</div>
                    <div class='label label-success'>Alondra</div>
                    <div class='label label-info'>Allen</div>
                  </div>
                  <div class='actions'>
                    <div class='pull-left'>
                      <a class='btn btn-link' href='#'>
                        <small>
                          <i class='icon-user'></i>
                          Cindy
                        </small>
                      </a>
                    </div>
                    <div class='pull-right'>
                      <a class='btn btn-link'>
                        <i class='icon-share'></i>
                        16
                      </a>
                      <a class='btn btn-link'>
                        <i class='icon-comment'></i>
                        15
                      </a>
                    </div>
                  </div>
                  <a data-lightbox='flatty' href='http://placehold.it/500x500/f34541/fff&amp;text=8'>
                    <img src="http://placehold.it/250x150&text=8" />
                  </a>
                </div>
              </li>
              <li>
                <div class='picture'>
                  <div class='tags'>
                    <div class='label label-important'>Arturo</div>
                    <div class='label label-success'>Mya</div>
                    <div class='label label-info'>Penny</div>
                  </div>
                  <div class='actions'>
                    <div class='pull-left'>
                      <a class='btn btn-link' href='#'>
                        <small>
                          <i class='icon-user'></i>
                          Carley
                        </small>
                      </a>
                    </div>
                    <div class='pull-right'>
                      <a class='btn btn-link'>
                        <i class='icon-share'></i>
                        3
                      </a>
                      <a class='btn btn-link'>
                        <i class='icon-comment'></i>
                        8
                      </a>
                    </div>
                  </div>
                  <a data-lightbox='flatty' href='http://placehold.it/500x500/f34541/fff&amp;text=9'>
                    <img src="http://placehold.it/250x150&text=9" />
                  </a>
                </div>
              </li>
              <li>
                <div class='picture'>
                  <div class='tags'>
                    <div class='label label-important'>Sienna</div>
                    <div class='label label-success'>Xena</div>
                    <div class='label label-info'>Esmeralda</div>
                  </div>
                  <div class='actions'>
                    <div class='pull-left'>
                      <a class='btn btn-link' href='#'>
                        <small>
                          <i class='icon-user'></i>
                          Stephanie
                        </small>
                      </a>
                    </div>
                    <div class='pull-right'>
                      <a class='btn btn-link'>
                        <i class='icon-share'></i>
                        5
                      </a>
                      <a class='btn btn-link'>
                        <i class='icon-comment'></i>
                        9
                      </a>
                    </div>
                  </div>
                  <a data-lightbox='flatty' href='http://placehold.it/500x500/f34541/fff&amp;text=10'>
                    <img src="http://placehold.it/250x150&text=10" />
                  </a>
                </div>
              </li>
              <li>
                <div class='picture'>
                  <div class='tags'>
                    <div class='label label-important'>Skye</div>
                    <div class='label label-success'>Allen</div>
                    <div class='label label-info'>Harvey</div>
                  </div>
                  <div class='actions'>
                    <div class='pull-left'>
                      <a class='btn btn-link' href='#'>
                        <small>
                          <i class='icon-user'></i>
                          Eli
                        </small>
                      </a>
                    </div>
                    <div class='pull-right'>
                      <a class='btn btn-link'>
                        <i class='icon-share'></i>
                        9
                      </a>
                      <a class='btn btn-link'>
                        <i class='icon-comment'></i>
                        18
                      </a>
                    </div>
                  </div>
                  <a data-lightbox='flatty' href='http://placehold.it/500x500/f34541/fff&amp;text=11'>
                    <img src="http://placehold.it/250x150&text=11" />
                  </a>
                </div>
              </li>
              <li>
                <div class='picture'>
                  <div class='tags'>
                    <div class='label label-important'>Toby</div>
                    <div class='label label-success'>Marsha</div>
                    <div class='label label-info'>Staci</div>
                  </div>
                  <div class='actions'>
                    <div class='pull-left'>
                      <a class='btn btn-link' href='#'>
                        <small>
                          <i class='icon-user'></i>
                          Kaleigh
                        </small>
                      </a>
                    </div>
                    <div class='pull-right'>
                      <a class='btn btn-link'>
                        <i class='icon-share'></i>
                        7
                      </a>
                      <a class='btn btn-link'>
                        <i class='icon-comment'></i>
                        1
                      </a>
                    </div>
                  </div>
                  <a data-lightbox='flatty' href='http://placehold.it/500x500/f34541/fff&amp;text=12'>
                    <img src="http://placehold.it/250x150&text=12" />
                  </a>
                </div>
              </li>
              <li>
                <div class='picture'>
                  <div class='tags'>
                    <div class='label label-important'>Alyson</div>
                    <div class='label label-success'>Randal</div>
                    <div class='label label-info'>Colm</div>
                  </div>
                  <div class='actions'>
                    <div class='pull-left'>
                      <a class='btn btn-link' href='#'>
                        <small>
                          <i class='icon-user'></i>
                          Andre
                        </small>
                      </a>
                    </div>
                    <div class='pull-right'>
                      <a class='btn btn-link'>
                        <i class='icon-share'></i>
                        3
                      </a>
                      <a class='btn btn-link'>
                        <i class='icon-comment'></i>
                        2
                      </a>
                    </div>
                  </div>
                  <a data-lightbox='flatty' href='http://placehold.it/500x500/f34541/fff&amp;text=13'>
                    <img src="http://placehold.it/250x150&text=13" />
                  </a>
                </div>
              </li>
              <li>
                <div class='picture'>
                  <div class='tags'>
                    <div class='label label-important'>Cindy</div>
                    <div class='label label-success'>Ruben</div>
                    <div class='label label-info'>Courtney</div>
                  </div>
                  <div class='actions'>
                    <div class='pull-left'>
                      <a class='btn btn-link' href='#'>
                        <small>
                          <i class='icon-user'></i>
                          Clyde
                        </small>
                      </a>
                    </div>
                    <div class='pull-right'>
                      <a class='btn btn-link'>
                        <i class='icon-share'></i>
                        4
                      </a>
                      <a class='btn btn-link'>
                        <i class='icon-comment'></i>
                        9
                      </a>
                    </div>
                  </div>
                  <a data-lightbox='flatty' href='http://placehold.it/500x500/f34541/fff&amp;text=14'>
                    <img src="http://placehold.it/250x150&text=14" />
                  </a>
                </div>
              </li>
              <li>
                <div class='picture'>
                  <div class='tags'>
                    <div class='label label-important'>Moses</div>
                    <div class='label label-success'>Vanessa</div>
                    <div class='label label-info'>Alfredo</div>
                  </div>
                  <div class='actions'>
                    <div class='pull-left'>
                      <a class='btn btn-link' href='#'>
                        <small>
                          <i class='icon-user'></i>
                          Beth
                        </small>
                      </a>
                    </div>
                    <div class='pull-right'>
                      <a class='btn btn-link'>
                        <i class='icon-share'></i>
                        4
                      </a>
                      <a class='btn btn-link'>
                        <i class='icon-comment'></i>
                        7
                      </a>
                    </div>
                  </div>
                  <a data-lightbox='flatty' href='http://placehold.it/500x500/f34541/fff&amp;text=15'>
                    <img src="http://placehold.it/250x150&text=15" />
                  </a>
                </div>
              </li>
              <li>
                <div class='picture'>
                  <div class='tags'>
                    <div class='label label-important'>Nolan</div>
                    <div class='label label-success'>Mitzi</div>
                    <div class='label label-info'>Bianca</div>
                  </div>
                  <div class='actions'>
                    <div class='pull-left'>
                      <a class='btn btn-link' href='#'>
                        <small>
                          <i class='icon-user'></i>
                          Brayden
                        </small>
                      </a>
                    </div>
                    <div class='pull-right'>
                      <a class='btn btn-link'>
                        <i class='icon-share'></i>
                        19
                      </a>
                      <a class='btn btn-link'>
                        <i class='icon-comment'></i>
                        20
                      </a>
                    </div>
                  </div>
                  <a data-lightbox='flatty' href='http://placehold.it/500x500/f34541/fff&amp;text=16'>
                    <img src="http://placehold.it/250x150&text=16" />
                  </a>
                </div>
              </li>
              <li>
                <div class='picture'>
                  <div class='tags'>
                    <div class='label label-important'>Bianca</div>
                    <div class='label label-success'>Mya</div>
                    <div class='label label-info'>Clinton</div>
                  </div>
                  <div class='actions'>
                    <div class='pull-left'>
                      <a class='btn btn-link' href='#'>
                        <small>
                          <i class='icon-user'></i>
                          Earl
                        </small>
                      </a>
                    </div>
                    <div class='pull-right'>
                      <a class='btn btn-link'>
                        <i class='icon-share'></i>
                        8
                      </a>
                      <a class='btn btn-link'>
                        <i class='icon-comment'></i>
                        3
                      </a>
                    </div>
                  </div>
                  <a data-lightbox='flatty' href='http://placehold.it/500x500/f34541/fff&amp;text=17'>
                    <img src="http://placehold.it/250x150&text=17" />
                  </a>
                </div>
              </li>
              <li>
                <div class='picture'>
                  <div class='tags'>
                    <div class='label label-important'>Alma</div>
                    <div class='label label-success'>Brooklynn</div>
                    <div class='label label-info'>Jackie</div>
                  </div>
                  <div class='actions'>
                    <div class='pull-left'>
                      <a class='btn btn-link' href='#'>
                        <small>
                          <i class='icon-user'></i>
                          Marsha
                        </small>
                      </a>
                    </div>
                    <div class='pull-right'>
                      <a class='btn btn-link'>
                        <i class='icon-share'></i>
                        14
                      </a>
                      <a class='btn btn-link'>
                        <i class='icon-comment'></i>
                        2
                      </a>
                    </div>
                  </div>
                  <a data-lightbox='flatty' href='http://placehold.it/500x500/f34541/fff&amp;text=18'>
                    <img src="http://placehold.it/250x150&text=18" />
                  </a>
                </div>
              </li>
              <li>
                <div class='picture'>
                  <div class='tags'>
                    <div class='label label-important'>Freya</div>
                    <div class='label label-success'>Terry</div>
                    <div class='label label-info'>Casey</div>
                  </div>
                  <div class='actions'>
                    <div class='pull-left'>
                      <a class='btn btn-link' href='#'>
                        <small>
                          <i class='icon-user'></i>
                          Kristi
                        </small>
                      </a>
                    </div>
                    <div class='pull-right'>
                      <a class='btn btn-link'>
                        <i class='icon-share'></i>
                        17
                      </a>
                      <a class='btn btn-link'>
                        <i class='icon-comment'></i>
                        2
                      </a>
                    </div>
                  </div>
                  <a data-lightbox='flatty' href='http://placehold.it/500x500/f34541/fff&amp;text=19'>
                    <img src="http://placehold.it/250x150&text=19" />
                  </a>
                </div>
              </li>
              <li>
                <div class='picture'>
                  <div class='tags'>
                    <div class='label label-important'>Adrianna</div>
                    <div class='label label-success'>Dora</div>
                    <div class='label label-info'>Cathleen</div>
                  </div>
                  <div class='actions'>
                    <div class='pull-left'>
                      <a class='btn btn-link' href='#'>
                        <small>
                          <i class='icon-user'></i>
                          Luis
                        </small>
                      </a>
                    </div>
                    <div class='pull-right'>
                      <a class='btn btn-link'>
                        <i class='icon-share'></i>
                        11
                      </a>
                      <a class='btn btn-link'>
                        <i class='icon-comment'></i>
                        19
                      </a>
                    </div>
                  </div>
                  <a data-lightbox='flatty' href='http://placehold.it/500x500/f34541/fff&amp;text=20'>
                    <img src="http://placehold.it/250x150&text=20" />
                  </a>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
