
<div class='col-xs-12'>
  <div id='orders'>
    <div class='row'>
      <div class='col-sm-4'>
        <div class='page-header'>
          <h1 class='pull-left'>
            <i class='icon-inbox'></i>
            <span>Orders</span>
          </h1>
        </div>
        <div class='row' id='list'>
          <div class='col-sm-12'>
            <div class='box'>
              <div class='box-content'>
                <div class='pull-left'>
                  <p>
                    <a href='#detail'>
                      <strong>#001</strong>
                      Carissa Blick
                    </a>
                  </p>
                  <p>
                    <span class='label label-warning'>In process</span>
                  </p>
                </div>
                <div class='text-right pull-right'>
                  <h4 class='contrast price'>$12.00</h4>
                  <p>
                    <span class='timeago fade has-tooltip' data-placement='top' title='2013-04-13'>April 13, 2013 - 07:30</span>
                    <i class='icon-time'></i>
                  </p>
                </div>
                <div class='clearfix'></div>
                <hr class='hr-normal'>
                <div class='pull-left'>
                  <p>
                    <a href='#detail'>
                      <strong>#002</strong>
                      Alana Runolfsson
                    </a>
                  </p>
                  <p>
                    <span class='label label-warning'>In process</span>
                  </p>
                </div>
                <div class='text-right pull-right'>
                  <h4 class='contrast price'>$181.00</h4>
                  <p>
                    <span class='timeago fade has-tooltip' data-placement='top' title='2013-05-13'>May 13, 2013 - 11:42</span>
                    <i class='icon-time'></i>
                  </p>
                </div>
                <div class='clearfix'></div>
                <hr class='hr-normal'>
                <div class='pull-left'>
                  <p>
                    <a href='#detail'>
                      <strong>#003</strong>
                      Carmella Spencer
                    </a>
                  </p>
                  <p>
                    <span class='label label-important'>New</span>
                  </p>
                </div>
                <div class='text-right pull-right'>
                  <h4 class='contrast price'>$214.00</h4>
                  <p>
                    <span class='timeago fade has-tooltip' data-placement='top' title='2013-06-02'>June  2, 2013 - 13:37</span>
                    <i class='icon-time'></i>
                  </p>
                </div>
                <div class='clearfix'></div>
                <hr class='hr-normal'>
                <div class='pull-left'>
                  <p>
                    <a href='#detail'>
                      <strong>#004</strong>
                      Charles Terry
                    </a>
                  </p>
                  <p>
                    <span class='label label-important'>New</span>
                  </p>
                </div>
                <div class='text-right pull-right'>
                  <h4 class='contrast price'>$163.00</h4>
                  <p>
                    <span class='timeago fade has-tooltip' data-placement='top' title='2013-04-26'>April 26, 2013 - 12:14</span>
                    <i class='icon-time'></i>
                  </p>
                </div>
                <div class='clearfix'></div>
                <hr class='hr-normal'>
                <div class='pull-left'>
                  <p>
                    <a href='#detail'>
                      <strong>#005</strong>
                      Dimitri Rosenbaum
                    </a>
                  </p>
                  <p>
                    <span class='label label-important'>New</span>
                  </p>
                </div>
                <div class='text-right pull-right'>
                  <h4 class='contrast price'>$332.00</h4>
                  <p>
                    <span class='timeago fade has-tooltip' data-placement='top' title='2013-05-09'>May  9, 2013 - 14:45</span>
                    <i class='icon-time'></i>
                  </p>
                </div>
                <div class='clearfix'></div>
                <hr class='hr-normal'>
                <div class='pull-left'>
                  <p>
                    <a href='#detail'>
                      <strong>#006</strong>
                      Randall Schneider
                    </a>
                  </p>
                  <p>
                    <span class='label label-warning'>In process</span>
                  </p>
                </div>
                <div class='text-right pull-right'>
                  <h4 class='contrast price'>$102.00</h4>
                  <p>
                    <span class='timeago fade has-tooltip' data-placement='top' title='2013-05-17'>May 17, 2013 - 02:39</span>
                    <i class='icon-time'></i>
                  </p>
                </div>
                <div class='clearfix'></div>
                <hr class='hr-normal'>
                <div class='pull-left'>
                  <p>
                    <a href='#detail'>
                      <strong>#007</strong>
                      Willie Parisian
                    </a>
                  </p>
                  <p>
                    <span class='label label-important'>New</span>
                  </p>
                </div>
                <div class='text-right pull-right'>
                  <h4 class='contrast price'>$283.00</h4>
                  <p>
                    <span class='timeago fade has-tooltip' data-placement='top' title='2013-04-09'>April  9, 2013 - 05:52</span>
                    <i class='icon-time'></i>
                  </p>
                </div>
                <div class='clearfix'></div>
                <hr class='hr-normal'>
                <div class='pull-left'>
                  <p>
                    <a href='#detail'>
                      <strong>#008</strong>
                      Percival Beatty
                    </a>
                  </p>
                  <p>
                    <span class='label label-important'>New</span>
                  </p>
                </div>
                <div class='text-right pull-right'>
                  <h4 class='contrast price'>$256.00</h4>
                  <p>
                    <span class='timeago fade has-tooltip' data-placement='top' title='2013-06-15'>June 15, 2013 - 01:43</span>
                    <i class='icon-time'></i>
                  </p>
                </div>
                <div class='clearfix'></div>
                <hr class='hr-normal'>
              </div>
              <div class='text-center'>
                <ul class='pagination'>
                  <li class='disabled'>
                    <a href='#'>
                      <i class='icon-angle-left'></i>
                    </a>
                  </li>
                  <li class='active'>
                    <a href='#'>
                      1
                    </a>
                  </li>
                  <li>
                    <a href='#'>2</a>
                  </li>
                  <li>
                    <a href='#'>3</a>
                  </li>
                  <li>
                    <a href='#'>4</a>
                  </li>
                  <li>
                    <a href='#'>5</a>
                  </li>
                  <li>
                    <a href='#'>
                      <i class='icon-angle-right'></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class='col-sm-8'>
        <div class='page-header'>
          <h1 class='pull-left'>
            <span>#001</span>
          </h1>
        </div>
        <div class='row' id='detail'>
          <div class='col-sm-12'>
            <div class='box'>
              <div class='box-content'>
                <div class='pull-left'>
                  <a class='btn btn-success fullfill-items' href='#'>Fullfill selected items</a>
                  <a class='btn btn-success' href='#'>Mark as paid</a>
                </div>
                <div class='pull-right'>
                  <a class='btn' href='#'>Cancel</a>
                </div>
                <div class='clearfix'></div>
                <hr class='hr-normal'>
                <table class='table table-hover'>
                  <thead>
                    <tr>
                      <th class='only-checkbox'>
                        <input class='check-all' type='checkbox'>
                      </th>
                      <th>Item</th>
                      <th>
                        <div class='text-center'>Qty</div>
                      </th>
                      <th>
                        <div class='text-right'>Price</div>
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class='only-checkbox'>
                        <input type='checkbox'>
                      </td>
                      <td>Apple iPhone 5 16GB</td>
                      <td>
                        <div class='text-center'>1</div>
                      </td>
                      <td>
                        <div class='text-right'>$544.00</div>
                      </td>
                    </tr>
                    <tr>
                      <td class='only-checkbox'>
                        <input type='checkbox'>
                      </td>
                      <td>Coca cola 0.5l</td>
                      <td>
                        <div class='text-center'>10</div>
                      </td>
                      <td>
                        <div class='text-right'>$1.00</div>
                      </td>
                    </tr>
                    <tr>
                      <td class='only-checkbox'>
                        <input type='checkbox'>
                      </td>
                      <td>Lorem ipsum</td>
                      <td>
                        <div class='text-center'>1</div>
                      </td>
                      <td>
                        <div class='text-right'>$1524.00</div>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <div class='text-right'>
                  <h3 class='subtotal contrast'>$2078.00</h3>
                </div>
                <hr class='hr-normal'>
                <div class='row'>
                  <div class='col-sm-4'>
                    <div class='lead'>
                      <i class='icon-envelope contrast'></i>
                      Customer address
                    </div>
                  </div>
                  <div class='col-sm-7 col-sm-offset-1'>
                    <address>
                      <strong>Dallas Denesik</strong>
                      <br>
                      795 Folsom Ave, Suite 600
                      <br>
                      San Francisco, CA 94107
                      <br>
                      <abbr title='Phone'>P:</abbr>
                      (123) 456-7890
                    </address>
                  </div>
                </div>
                <div class='row'>
                  <div class='col-sm-4'>
                    <div class='lead'>
                      <i class='icon-user contrast'></i>
                      Customer details
                    </div>
                  </div>
                  <div class='col-sm-7 col-sm-offset-1'>
                    <address>
                      <strong>Full Name</strong>
                      <br>
                      <a href='mailto:#'>first.last@example.com</a>
                    </address>
                  </div>
                </div>
                <div class='form-actions form-actions-padding'>
                  <ul class='pager'>
                    <li class='previous'>
                      <a href='#'>← Previous order</a>
                    </li>
                    <li class='next'>
                      <a href='#'>Next order →</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
