
<div class='col-xs-12'>
  <div class='row'>
    <div class='col-sm-12'>
      <div class='page-header'>
        <h1 class='pull-left'>
          <i class='icon-search'></i>
          <span>Search results</span>
          <small>your search query</small>
        </h1>
      </div>
    </div>
  </div>
  <div class='row'>
    <div class='col-sm-12'>
      <div class='box'>
        <div class='box-content'>
          <h4>
            <a class="text-contrast" href="#">Ab omnis voluptatem enim</a>
          </h4>
          <p>
            Dolorem magnam delectus qui sequi illum voluptatem eum est dolores sint fuga aut neque error iusto nostrum error earum quibusdam est voluptatibus quae expedita aut debitis
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class='row'>
    <div class='col-sm-12'>
      <div class='box'>
        <div class='box-content'>
          <h4>
            <a class="text-contrast" href="#">Ut voluptas perferendis inventore et</a>
          </h4>
          <p>
            Quia dicta praesentium rerum non animi incidunt et esse dolorem et voluptatem cupiditate saepe debitis suscipit et dolore enim sint qui
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class='row'>
    <div class='col-sm-12'>
      <div class='box'>
        <div class='box-content'>
          <h4>
            <a class="text-contrast" href="#">Qui assumenda sit</a>
          </h4>
          <p>
            Voluptates minima reiciendis omnis vero soluta repellat sunt optio quas quas qui incidunt et id ut nihil eum et exercitationem dolores quia quo aliquid
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class='row'>
    <div class='col-sm-12'>
      <div class='box'>
        <div class='box-content'>
          <h4>
            <a class="text-contrast" href="#">Et aliquid laudantium voluptas</a>
          </h4>
          <p>
            A rem quo aperiam alias aut saepe ipsam expedita eum et beatae aliquam corrupti et at et voluptate quia et dolore repellendus aut magnam corrupti molestiae ut beatae
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class='row'>
    <div class='col-sm-12'>
      <div class='box'>
        <div class='box-content'>
          <h4>
            <a class="text-contrast" href="#">Accusantium deserunt quia quo</a>
          </h4>
          <p>
            Quidem ab recusandae qui mollitia facilis placeat illo ut vitae voluptas aut animi pariatur ad debitis cum repellat quo vitae
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class='row'>
    <div class='col-sm-12'>
      <div class='box'>
        <div class='box-content'>
          <h4>
            <a class="text-contrast" href="#">Et officiis vel reprehenderit</a>
          </h4>
          <p>
            Enim adipisci esse quia aut ut dolore necessitatibus in sunt non dolorem voluptatem omnis et labore dolorum qui quia quo dolorem deleniti aut
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class='row'>
    <div class='col-sm-12'>
      <div class='box'>
        <div class='box-content'>
          <h4>
            <a class="text-contrast" href="#">Cupiditate ea est sit voluptatibus</a>
          </h4>
          <p>
            Magnam totam ea non aperiam voluptas exercitationem voluptas consequatur quod pariatur molestiae nisi ullam sunt enim id doloremque enim maxime est debitis quae rem necessitatibus neque
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class='row'>
    <div class='col-sm-12'>
      <div class='box'>
        <div class='box-content'>
          <h4>
            <a class="text-contrast" href="#">Autem non maiores iste</a>
          </h4>
          <p>
            Aut officia voluptatem distinctio illum impedit consequatur numquam nisi voluptas aut adipisci consequatur est aliquam iure pariatur nihil asperiores et dolorem doloremque nisi aperiam exercitationem ipsum voluptatem provident
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class='row'>
    <div class='col-sm-12'>
      <div class='box'>
        <div class='box-content'>
          <h4>
            <a class="text-contrast" href="#">Nostrum dolorem dicta</a>
          </h4>
          <p>
            Eos rem commodi dolores et sed totam nulla consequuntur quia officiis velit at asperiores facilis cum quis corrupti qui mollitia est voluptatem
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class='row'>
    <div class='col-sm-12'>
      <div class='box'>
        <div class='box-content'>
          <h4>
            <a class="text-contrast" href="#">Occaecati nostrum eaque amet</a>
          </h4>
          <p>
            Quaerat neque iste id cupiditate incidunt sint nemo repellat dolor nihil repellat natus qui culpa eos alias eveniet commodi cupiditate aliquid similique id ut dolorem doloremque minus temporibus ex
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class='text-center'>
    <ul class='pagination'>
      <li class='disabled'>
        <a href='#'>
          <i class='icon-angle-left'></i>
        </a>
      </li>
      <li class='active'>
        <a href='#'>
          1
        </a>
      </li>
      <li>
        <a href='#'>2</a>
      </li>
      <li>
        <a href='#'>3</a>
      </li>
      <li>
        <a href='#'>4</a>
      </li>
      <li>
        <a href='#'>5</a>
      </li>
      <li>
        <a href='#'>
          <i class='icon-angle-right'></i>
        </a>
      </li>
    </ul>
  </div>
</div>
