<div class='col-xs-12'>
  <div class='row'>
    <div class='col-sm-12'>
      <div class='page-header'>
        <h1 class='pull-left'>
          <i class='icon-table'></i>
          <span>Tables</span>
        </h1>
        <div class='pull-right'>
          <ul class='breadcrumb'>
            <li>
              <a href='index.html'>
                <i class='icon-bar-chart'></i>
              </a>
            </li>
            <li class='separator'>
              <i class='icon-angle-right'></i>
            </li>
            <li class='active'>Tables</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class='row'>
    <div class='col-sm-12'>
      <div class='box bordered-box blue-border' style='margin-bottom:0;'>
        <div class='box-header blue-background'>
          <div class='title'>Responsive table</div>
          <div class='actions'>
            <a class="btn box-remove btn-xs btn-link" href="#"><i class='icon-remove'></i>
            </a>

            <a class="btn box-collapse btn-xs btn-link" href="#"><i></i>
            </a>
          </div>
        </div>
        <div class='box-content box-no-padding'>
          <div class='responsive-table'>
            <div class='scrollable-area'>
              <table class='table' style='margin-bottom:0;'>
                <thead>
                  <tr>
                    <th>
                      Name
                    </th>
                    <th>
                      E-mail
                    </th>
                    <th>
                      Status
                    </th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Zelma Langosh</td>
                    <td>berta@hotmail.com</td>
                    <td>
                      <span class='label label-important'>Important</span>
                    </td>
                    <td>
                      <div class='text-right'>
                        <a class='btn btn-success btn-xs' href='#'>
                          <i class='icon-ok'></i>
                        </a>
                        <a class='btn btn-danger btn-xs' href='#'>
                          <i class='icon-remove'></i>
                        </a>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>Jackson Yundt</td>
                    <td>seth@yahoo.com</td>
                    <td>
                      <span class='label label-success'>Success</span>
                    </td>
                    <td>
                      <div class='text-right'>
                        <a class='btn btn-success btn-xs' href='#'>
                          <i class='icon-ok'></i>
                        </a>
                        <a class='btn btn-danger btn-xs' href='#'>
                          <i class='icon-remove'></i>
                        </a>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>Rey Fadel</td>
                    <td>macey@yahoo.com</td>
                    <td>
                      <span class='label label-warning'>Warning</span>
                    </td>
                    <td>
                      <div class='text-right'>
                        <a class='btn btn-success btn-xs' href='#'>
                          <i class='icon-ok'></i>
                        </a>
                        <a class='btn btn-danger btn-xs' href='#'>
                          <i class='icon-remove'></i>
                        </a>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>Jaquelin Koelpin</td>
                    <td>celia@hotmail.com</td>
                    <td>
                      <span class='label label-success'>Success</span>
                    </td>
                    <td>
                      <div class='text-right'>
                        <a class='btn btn-success btn-xs' href='#'>
                          <i class='icon-ok'></i>
                        </a>
                        <a class='btn btn-danger btn-xs' href='#'>
                          <i class='icon-remove'></i>
                        </a>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>Marco Bogisich</td>
                    <td>cullen@yahoo.com</td>
                    <td>
                      <span class='label label-important'>Important</span>
                    </td>
                    <td>
                      <div class='text-right'>
                        <a class='btn btn-success btn-xs' href='#'>
                          <i class='icon-ok'></i>
                        </a>
                        <a class='btn btn-danger btn-xs' href='#'>
                          <i class='icon-remove'></i>
                        </a>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr class='hr-double'>
  <div class='row'>
    <div class='col-sm-12'>
      <div class='box bordered-box purple-border' style='margin-bottom:0;'>
        <div class='box-header purple-background'>
          <div class='title'>Striped non-responsive table</div>
          <div class='actions'>
            <a class="btn box-remove btn-xs btn-link" href="#"><i class='icon-remove'></i>
            </a>

            <a class="btn box-collapse btn-xs btn-link" href="#"><i></i>
            </a>
          </div>
        </div>
        <div class='box-content box-no-padding'>
          <table class='table table-striped' style='margin-bottom:0;'>
            <thead>
              <tr>
                <th>
                  Name
                </th>
                <th>
                  E-mail
                </th>
                <th>
                  Status
                </th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Gaylord Reynolds</td>
                <td>claudie@yahoo.com</td>
                <td>
                  <span class='label label-warning'>Warning</span>
                </td>
                <td>
                  <div class='text-right'>
                    <a class='btn btn-success btn-xs' href='#'>
                      <i class='icon-ok'></i>
                    </a>
                    <a class='btn btn-danger btn-xs' href='#'>
                      <i class='icon-remove'></i>
                    </a>
                  </div>
                </td>
              </tr>
              <tr>
                <td>Dennis Beahan</td>
                <td>francis@hotmail.com</td>
                <td>
                  <span class='label label-success'>Success</span>
                </td>
                <td>
                  <div class='text-right'>
                    <a class='btn btn-success btn-xs' href='#'>
                      <i class='icon-ok'></i>
                    </a>
                    <a class='btn btn-danger btn-xs' href='#'>
                      <i class='icon-remove'></i>
                    </a>
                  </div>
                </td>
              </tr>
              <tr>
                <td>Pearlie Beahan</td>
                <td>ellis@hotmail.com</td>
                <td>
                  <span class='label label-warning'>Warning</span>
                </td>
                <td>
                  <div class='text-right'>
                    <a class='btn btn-success btn-xs' href='#'>
                      <i class='icon-ok'></i>
                    </a>
                    <a class='btn btn-danger btn-xs' href='#'>
                      <i class='icon-remove'></i>
                    </a>
                  </div>
                </td>
              </tr>
              <tr>
                <td>Reece Brekke</td>
                <td>liam@gmail.com</td>
                <td>
                  <span class='label label-warning'>Warning</span>
                </td>
                <td>
                  <div class='text-right'>
                    <a class='btn btn-success btn-xs' href='#'>
                      <i class='icon-ok'></i>
                    </a>
                    <a class='btn btn-danger btn-xs' href='#'>
                      <i class='icon-remove'></i>
                    </a>
                  </div>
                </td>
              </tr>
              <tr>
                <td>Green Kuhlman</td>
                <td>sarina@yahoo.com</td>
                <td>
                  <span class='label label-success'>Success</span>
                </td>
                <td>
                  <div class='text-right'>
                    <a class='btn btn-success btn-xs' href='#'>
                      <i class='icon-ok'></i>
                    </a>
                    <a class='btn btn-danger btn-xs' href='#'>
                      <i class='icon-remove'></i>
                    </a>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <hr class='hr-double'>
  <div class='row'>
    <div class='col-sm-12'>
      <div class='box bordered-box red-border' style='margin-bottom:0;'>
        <div class='box-header red-background'>
          <div class='title'>Striped and hovered table</div>
          <div class='actions'>
            <a class="btn box-remove btn-xs btn-link" href="#"><i class='icon-remove'></i>
            </a>

            <a class="btn box-collapse btn-xs btn-link" href="#"><i></i>
            </a>
          </div>
        </div>
        <div class='box-content box-no-padding'>
          <div class='responsive-table'>
            <div class='scrollable-area'>
              <table class='table table-hover table-striped' style='margin-bottom:0;'>
                <thead>
                  <tr>
                    <th>
                      Name
                    </th>
                    <th>
                      E-mail
                    </th>
                    <th>
                      Status
                    </th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Hillard Metz</td>
                    <td>elinor@gmail.com</td>
                    <td>
                      <span class='label label-important'>Important</span>
                    </td>
                    <td>
                      <div class='text-right'>
                        <a class='btn btn-success btn-xs' href='#'>
                          <i class='icon-ok'></i>
                        </a>
                        <a class='btn btn-danger btn-xs' href='#'>
                          <i class='icon-remove'></i>
                        </a>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>Conner Powlowski</td>
                    <td>jamir@yahoo.com</td>
                    <td>
                      <span class='label label-warning'>Warning</span>
                    </td>
                    <td>
                      <div class='text-right'>
                        <a class='btn btn-success btn-xs' href='#'>
                          <i class='icon-ok'></i>
                        </a>
                        <a class='btn btn-danger btn-xs' href='#'>
                          <i class='icon-remove'></i>
                        </a>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>Christelle Goodwin</td>
                    <td>kailyn@yahoo.com</td>
                    <td>
                      <span class='label label-important'>Important</span>
                    </td>
                    <td>
                      <div class='text-right'>
                        <a class='btn btn-success btn-xs' href='#'>
                          <i class='icon-ok'></i>
                        </a>
                        <a class='btn btn-danger btn-xs' href='#'>
                          <i class='icon-remove'></i>
                        </a>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>Pansy McCullough</td>
                    <td>alexzander@yahoo.com</td>
                    <td>
                      <span class='label label-success'>Success</span>
                    </td>
                    <td>
                      <div class='text-right'>
                        <a class='btn btn-success btn-xs' href='#'>
                          <i class='icon-ok'></i>
                        </a>
                        <a class='btn btn-danger btn-xs' href='#'>
                          <i class='icon-remove'></i>
                        </a>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>Coralie Raynor</td>
                    <td>nicolas@gmail.com</td>
                    <td>
                      <span class='label label-success'>Success</span>
                    </td>
                    <td>
                      <div class='text-right'>
                        <a class='btn btn-success btn-xs' href='#'>
                          <i class='icon-ok'></i>
                        </a>
                        <a class='btn btn-danger btn-xs' href='#'>
                          <i class='icon-remove'></i>
                        </a>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr class='hr-double'>
  <div class='row'>
    <div class='col-sm-12'>
      <div class='box bordered-box green-border' style='margin-bottom:0;'>
        <div class='box-header green-background'>
          <div class='title'>Striped, hovered and bordered table</div>
          <div class='actions'>
            <a class="btn box-remove btn-xs btn-link" href="#"><i class='icon-remove'></i>
            </a>

            <a class="btn box-collapse btn-xs btn-link" href="#"><i></i>
            </a>
          </div>
        </div>
        <div class='box-content box-no-padding'>
          <div class='responsive-table'>
            <div class='scrollable-area'>
              <table class='table table-bordered table-hover table-striped' style='margin-bottom:0;'>
                <thead>
                  <tr>
                    <th>
                      Name
                    </th>
                    <th>
                      E-mail
                    </th>
                    <th>
                      Status
                    </th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Mara Pfeffer</td>
                    <td>holly@yahoo.com</td>
                    <td>
                      <span class='label label-success'>Success</span>
                    </td>
                    <td>
                      <div class='text-right'>
                        <a class='btn btn-success btn-xs' href='#'>
                          <i class='icon-ok'></i>
                        </a>
                        <a class='btn btn-danger btn-xs' href='#'>
                          <i class='icon-remove'></i>
                        </a>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>Cristian Farrell</td>
                    <td>grace@yahoo.com</td>
                    <td>
                      <span class='label label-important'>Important</span>
                    </td>
                    <td>
                      <div class='text-right'>
                        <a class='btn btn-success btn-xs' href='#'>
                          <i class='icon-ok'></i>
                        </a>
                        <a class='btn btn-danger btn-xs' href='#'>
                          <i class='icon-remove'></i>
                        </a>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>Gordon Effertz</td>
                    <td>esta@yahoo.com</td>
                    <td>
                      <span class='label label-warning'>Warning</span>
                    </td>
                    <td>
                      <div class='text-right'>
                        <a class='btn btn-success btn-xs' href='#'>
                          <i class='icon-ok'></i>
                        </a>
                        <a class='btn btn-danger btn-xs' href='#'>
                          <i class='icon-remove'></i>
                        </a>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>Karli Senger</td>
                    <td>joannie@yahoo.com</td>
                    <td>
                      <span class='label label-important'>Important</span>
                    </td>
                    <td>
                      <div class='text-right'>
                        <a class='btn btn-success btn-xs' href='#'>
                          <i class='icon-ok'></i>
                        </a>
                        <a class='btn btn-danger btn-xs' href='#'>
                          <i class='icon-remove'></i>
                        </a>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>Linnea Kuhn</td>
                    <td>deven@yahoo.com</td>
                    <td>
                      <span class='label label-success'>Success</span>
                    </td>
                    <td>
                      <div class='text-right'>
                        <a class='btn btn-success btn-xs' href='#'>
                          <i class='icon-ok'></i>
                        </a>
                        <a class='btn btn-danger btn-xs' href='#'>
                          <i class='icon-remove'></i>
                        </a>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class='group-header'>
    <div class='row'>
      <div class='col-sm-6 col-sm-offset-3'>
        <div class='text-center'>
          <h2>Dynamic tables</h2>
          <small class='text-muted'>Dynamic datables can handle large data collections, sorting, filtering...</small>
        </div>
      </div>
    </div>
  </div>
  <div class='row'>
    <div class='col-sm-12'>
      <div class='box bordered-box orange-border' style='margin-bottom:0;'>
        <div class='box-header orange-background'>
          <div class='title'>Sortable data table with pagination</div>
          <div class='actions'>
            <a class="btn box-remove btn-xs btn-link" href="#"><i class='icon-remove'></i>
            </a>

            <a class="btn box-collapse btn-xs btn-link" href="#"><i></i>
            </a>
          </div>
        </div>
        <div class='box-content box-no-padding'>
          <div class='responsive-table'>
            <div class='scrollable-area'>
              <table class='data-table table table-bordered table-striped' style='margin-bottom:0;'>
                <thead>
                  <tr>
                    <th>
                      Name
                    </th>
                    <th>
                      E-mail
                    </th>
                    <th>
                      Status
                    </th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Janick Williamson</td>
                    <td>johnson@yahoo.com</td>
                    <td>
                      <span class='label label-important'>Important</span>
                    </td>
                    <td>
                      <div class='text-right'>
                        <a class='btn btn-success btn-xs' href='#'>
                          <i class='icon-ok'></i>
                        </a>
                        <a class='btn btn-danger btn-xs' href='#'>
                          <i class='icon-remove'></i>
                        </a>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>Javonte Sipes</td>
                    <td>reina@gmail.com</td>
                    <td>
                      <span class='label label-success'>Success</span>
                    </td>
                    <td>
                      <div class='text-right'>
                        <a class='btn btn-success btn-xs' href='#'>
                          <i class='icon-ok'></i>
                        </a>
                        <a class='btn btn-danger btn-xs' href='#'>
                          <i class='icon-remove'></i>
                        </a>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>Lottie Cormier</td>
                    <td>mattie@gmail.com</td>
                    <td>
                      <span class='label label-success'>Success</span>
                    </td>
                    <td>
                      <div class='text-right'>
                        <a class='btn btn-success btn-xs' href='#'>
                          <i class='icon-ok'></i>
                        </a>
                        <a class='btn btn-danger btn-xs' href='#'>
                          <i class='icon-remove'></i>
                        </a>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>Madelyn Senger</td>
                    <td>harmon@hotmail.com</td>
                    <td>
                      <span class='label label-success'>Success</span>
                    </td>
                    <td>
                      <div class='text-right'>
                        <a class='btn btn-success btn-xs' href='#'>
                          <i class='icon-ok'></i>
                        </a>
                        <a class='btn btn-danger btn-xs' href='#'>
                          <i class='icon-remove'></i>
                        </a>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>Elenora Dickinson</td>
                    <td>yasmine@yahoo.com</td>
                    <td>
                      <span class='label label-important'>Important</span>
                    </td>
                    <td>
                      <div class='text-right'>
                        <a class='btn btn-success btn-xs' href='#'>
                          <i class='icon-ok'></i>
                        </a>
                        <a class='btn btn-danger btn-xs' href='#'>
                          <i class='icon-remove'></i>
                        </a>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>Cristina Wilderman</td>
                    <td>loraine@hotmail.com</td>
                    <td>
                      <span class='label label-important'>Important</span>
                    </td>
                    <td>
                      <div class='text-right'>
                        <a class='btn btn-success btn-xs' href='#'>
                          <i class='icon-ok'></i>
                        </a>
                        <a class='btn btn-danger btn-xs' href='#'>
                          <i class='icon-remove'></i>
                        </a>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>Lucinda Bradtke</td>
                    <td>carlee@gmail.com</td>
                    <td>
                      <span class='label label-warning'>Warning</span>
                    </td>
                    <td>
                      <div class='text-right'>
                        <a class='btn btn-success btn-xs' href='#'>
                          <i class='icon-ok'></i>
                        </a>
                        <a class='btn btn-danger btn-xs' href='#'>
                          <i class='icon-remove'></i>
                        </a>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>Leilani Stark</td>
                    <td>wilbert@gmail.com</td>
                    <td>
                      <span class='label label-important'>Important</span>
                    </td>
                    <td>
                      <div class='text-right'>
                        <a class='btn btn-success btn-xs' href='#'>
                          <i class='icon-ok'></i>
                        </a>
                        <a class='btn btn-danger btn-xs' href='#'>
                          <i class='icon-remove'></i>
                        </a>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>Dasia Padberg</td>
                    <td>lucius@yahoo.com</td>
                    <td>
                      <span class='label label-warning'>Warning</span>
                    </td>
                    <td>
                      <div class='text-right'>
                        <a class='btn btn-success btn-xs' href='#'>
                          <i class='icon-ok'></i>
                        </a>
                        <a class='btn btn-danger btn-xs' href='#'>
                          <i class='icon-remove'></i>
                        </a>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>Fanny Pollich</td>
                    <td>sylvia@hotmail.com</td>
                    <td>
                      <span class='label label-success'>Success</span>
                    </td>
                    <td>
                      <div class='text-right'>
                        <a class='btn btn-success btn-xs' href='#'>
                          <i class='icon-ok'></i>
                        </a>
                        <a class='btn btn-danger btn-xs' href='#'>
                          <i class='icon-remove'></i>
                        </a>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>Vergie Jacobson</td>
                    <td>layla@gmail.com</td>
                    <td>
                      <span class='label label-warning'>Warning</span>
                    </td>
                    <td>
                      <div class='text-right'>
                        <a class='btn btn-success btn-xs' href='#'>
                          <i class='icon-ok'></i>
                        </a>
                        <a class='btn btn-danger btn-xs' href='#'>
                          <i class='icon-remove'></i>
                        </a>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>Macie Price</td>
                    <td>myriam@gmail.com</td>
                    <td>
                      <span class='label label-warning'>Warning</span>
                    </td>
                    <td>
                      <div class='text-right'>
                        <a class='btn btn-success btn-xs' href='#'>
                          <i class='icon-ok'></i>
                        </a>
                        <a class='btn btn-danger btn-xs' href='#'>
                          <i class='icon-remove'></i>
                        </a>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>Annamarie Bauch</td>
                    <td>don@yahoo.com</td>
                    <td>
                      <span class='label label-important'>Important</span>
                    </td>
                    <td>
                      <div class='text-right'>
                        <a class='btn btn-success btn-xs' href='#'>
                          <i class='icon-ok'></i>
                        </a>
                        <a class='btn btn-danger btn-xs' href='#'>
                          <i class='icon-remove'></i>
                        </a>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>Brandy Romaguera</td>
                    <td>boris@gmail.com</td>
                    <td>
                      <span class='label label-important'>Important</span>
                    </td>
                    <td>
                      <div class='text-right'>
                        <a class='btn btn-success btn-xs' href='#'>
                          <i class='icon-ok'></i>
                        </a>
                        <a class='btn btn-danger btn-xs' href='#'>
                          <i class='icon-remove'></i>
                        </a>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>Jarret Schmidt</td>
                    <td>jimmie@yahoo.com</td>
                    <td>
                      <span class='label label-warning'>Warning</span>
                    </td>
                    <td>
                      <div class='text-right'>
                        <a class='btn btn-success btn-xs' href='#'>
                          <i class='icon-ok'></i>
                        </a>
                        <a class='btn btn-danger btn-xs' href='#'>
                          <i class='icon-remove'></i>
                        </a>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>Mckenna Ondricka</td>
                    <td>katelin@gmail.com</td>
                    <td>
                      <span class='label label-important'>Important</span>
                    </td>
                    <td>
                      <div class='text-right'>
                        <a class='btn btn-success btn-xs' href='#'>
                          <i class='icon-ok'></i>
                        </a>
                        <a class='btn btn-danger btn-xs' href='#'>
                          <i class='icon-remove'></i>
                        </a>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>Adelbert Ullrich</td>
                    <td>joyce@hotmail.com</td>
                    <td>
                      <span class='label label-warning'>Warning</span>
                    </td>
                    <td>
                      <div class='text-right'>
                        <a class='btn btn-success btn-xs' href='#'>
                          <i class='icon-ok'></i>
                        </a>
                        <a class='btn btn-danger btn-xs' href='#'>
                          <i class='icon-remove'></i>
                        </a>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>Celia Wuckert</td>
                    <td>jermaine@hotmail.com</td>
                    <td>
                      <span class='label label-success'>Success</span>
                    </td>
                    <td>
                      <div class='text-right'>
                        <a class='btn btn-success btn-xs' href='#'>
                          <i class='icon-ok'></i>
                        </a>
                        <a class='btn btn-danger btn-xs' href='#'>
                          <i class='icon-remove'></i>
                        </a>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>Patsy Botsford</td>
                    <td>romaine@gmail.com</td>
                    <td>
                      <span class='label label-warning'>Warning</span>
                    </td>
                    <td>
                      <div class='text-right'>
                        <a class='btn btn-success btn-xs' href='#'>
                          <i class='icon-ok'></i>
                        </a>
                        <a class='btn btn-danger btn-xs' href='#'>
                          <i class='icon-remove'></i>
                        </a>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>Rey Mante</td>
                    <td>aylin@gmail.com</td>
                    <td>
                      <span class='label label-success'>Success</span>
                    </td>
                    <td>
                      <div class='text-right'>
                        <a class='btn btn-success btn-xs' href='#'>
                          <i class='icon-ok'></i>
                        </a>
                        <a class='btn btn-danger btn-xs' href='#'>
                          <i class='icon-remove'></i>
                        </a>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr class='hr-double'>
  <div class='row'>
    <div class='col-sm-12'>
      <div class='box bordered-box orange-border' style='margin-bottom:0;'>
        <div class='box-header purple-background'>
          <div class='title'>Data table with column filter in footer</div>
          <div class='actions'>
            <a class="btn box-remove btn-xs btn-link" href="#"><i class='icon-remove'></i>
            </a>

            <a class="btn box-collapse btn-xs btn-link" href="#"><i></i>
            </a>
          </div>
        </div>
        <div class='box-content box-no-padding'>
          <div class='responsive-table'>
            <div class='scrollable-area'>
              <table class='data-table-column-filter table table-bordered table-striped' style='margin-bottom:0;'>
                <thead>
                  <tr>
                    <th>
                      Name
                    </th>
                    <th>
                      E-mail
                    </th>
                    <th>
                      Status
                    </th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Gabrielle Fritsch</td>
                    <td>marjory@gmail.com</td>
                    <td>
                      <span class='label label-warning'>Warning</span>
                    </td>
                    <td>
                      <div class='text-right'>
                        <a class='btn btn-success btn-xs' href='#'>
                          <i class='icon-ok'></i>
                        </a>
                        <a class='btn btn-danger btn-xs' href='#'>
                          <i class='icon-remove'></i>
                        </a>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>Adaline Bins</td>
                    <td>jesus@yahoo.com</td>
                    <td>
                      <span class='label label-important'>Important</span>
                    </td>
                    <td>
                      <div class='text-right'>
                        <a class='btn btn-success btn-xs' href='#'>
                          <i class='icon-ok'></i>
                        </a>
                        <a class='btn btn-danger btn-xs' href='#'>
                          <i class='icon-remove'></i>
                        </a>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>Ansel Schimmel</td>
                    <td>henri@gmail.com</td>
                    <td>
                      <span class='label label-important'>Important</span>
                    </td>
                    <td>
                      <div class='text-right'>
                        <a class='btn btn-success btn-xs' href='#'>
                          <i class='icon-ok'></i>
                        </a>
                        <a class='btn btn-danger btn-xs' href='#'>
                          <i class='icon-remove'></i>
                        </a>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>Leland Kertzmann</td>
                    <td>lavina@hotmail.com</td>
                    <td>
                      <span class='label label-important'>Important</span>
                    </td>
                    <td>
                      <div class='text-right'>
                        <a class='btn btn-success btn-xs' href='#'>
                          <i class='icon-ok'></i>
                        </a>
                        <a class='btn btn-danger btn-xs' href='#'>
                          <i class='icon-remove'></i>
                        </a>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>Cameron Lang</td>
                    <td>octavia@yahoo.com</td>
                    <td>
                      <span class='label label-success'>Success</span>
                    </td>
                    <td>
                      <div class='text-right'>
                        <a class='btn btn-success btn-xs' href='#'>
                          <i class='icon-ok'></i>
                        </a>
                        <a class='btn btn-danger btn-xs' href='#'>
                          <i class='icon-remove'></i>
                        </a>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>Santina Satterfield</td>
                    <td>maximillia@gmail.com</td>
                    <td>
                      <span class='label label-warning'>Warning</span>
                    </td>
                    <td>
                      <div class='text-right'>
                        <a class='btn btn-success btn-xs' href='#'>
                          <i class='icon-ok'></i>
                        </a>
                        <a class='btn btn-danger btn-xs' href='#'>
                          <i class='icon-remove'></i>
                        </a>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>Marlene Harris</td>
                    <td>violette@gmail.com</td>
                    <td>
                      <span class='label label-warning'>Warning</span>
                    </td>
                    <td>
                      <div class='text-right'>
                        <a class='btn btn-success btn-xs' href='#'>
                          <i class='icon-ok'></i>
                        </a>
                        <a class='btn btn-danger btn-xs' href='#'>
                          <i class='icon-remove'></i>
                        </a>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>Tatum Nolan</td>
                    <td>marianna@gmail.com</td>
                    <td>
                      <span class='label label-warning'>Warning</span>
                    </td>
                    <td>
                      <div class='text-right'>
                        <a class='btn btn-success btn-xs' href='#'>
                          <i class='icon-ok'></i>
                        </a>
                        <a class='btn btn-danger btn-xs' href='#'>
                          <i class='icon-remove'></i>
                        </a>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>Isidro Kihn</td>
                    <td>eloisa@gmail.com</td>
                    <td>
                      <span class='label label-success'>Success</span>
                    </td>
                    <td>
                      <div class='text-right'>
                        <a class='btn btn-success btn-xs' href='#'>
                          <i class='icon-ok'></i>
                        </a>
                        <a class='btn btn-danger btn-xs' href='#'>
                          <i class='icon-remove'></i>
                        </a>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>Isidro Walsh</td>
                    <td>rod@gmail.com</td>
                    <td>
                      <span class='label label-success'>Success</span>
                    </td>
                    <td>
                      <div class='text-right'>
                        <a class='btn btn-success btn-xs' href='#'>
                          <i class='icon-ok'></i>
                        </a>
                        <a class='btn btn-danger btn-xs' href='#'>
                          <i class='icon-remove'></i>
                        </a>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>King Steuber</td>
                    <td>sarah@gmail.com</td>
                    <td>
                      <span class='label label-success'>Success</span>
                    </td>
                    <td>
                      <div class='text-right'>
                        <a class='btn btn-success btn-xs' href='#'>
                          <i class='icon-ok'></i>
                        </a>
                        <a class='btn btn-danger btn-xs' href='#'>
                          <i class='icon-remove'></i>
                        </a>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>Anastasia Schuppe</td>
                    <td>nona@hotmail.com</td>
                    <td>
                      <span class='label label-warning'>Warning</span>
                    </td>
                    <td>
                      <div class='text-right'>
                        <a class='btn btn-success btn-xs' href='#'>
                          <i class='icon-ok'></i>
                        </a>
                        <a class='btn btn-danger btn-xs' href='#'>
                          <i class='icon-remove'></i>
                        </a>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>Laurie Wehner</td>
                    <td>mona@yahoo.com</td>
                    <td>
                      <span class='label label-important'>Important</span>
                    </td>
                    <td>
                      <div class='text-right'>
                        <a class='btn btn-success btn-xs' href='#'>
                          <i class='icon-ok'></i>
                        </a>
                        <a class='btn btn-danger btn-xs' href='#'>
                          <i class='icon-remove'></i>
                        </a>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>Titus Marvin</td>
                    <td>grayson@gmail.com</td>
                    <td>
                      <span class='label label-warning'>Warning</span>
                    </td>
                    <td>
                      <div class='text-right'>
                        <a class='btn btn-success btn-xs' href='#'>
                          <i class='icon-ok'></i>
                        </a>
                        <a class='btn btn-danger btn-xs' href='#'>
                          <i class='icon-remove'></i>
                        </a>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>Myles Reichel</td>
                    <td>yadira@hotmail.com</td>
                    <td>
                      <span class='label label-warning'>Warning</span>
                    </td>
                    <td>
                      <div class='text-right'>
                        <a class='btn btn-success btn-xs' href='#'>
                          <i class='icon-ok'></i>
                        </a>
                        <a class='btn btn-danger btn-xs' href='#'>
                          <i class='icon-remove'></i>
                        </a>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>Luisa Torp</td>
                    <td>ruby@gmail.com</td>
                    <td>
                      <span class='label label-success'>Success</span>
                    </td>
                    <td>
                      <div class='text-right'>
                        <a class='btn btn-success btn-xs' href='#'>
                          <i class='icon-ok'></i>
                        </a>
                        <a class='btn btn-danger btn-xs' href='#'>
                          <i class='icon-remove'></i>
                        </a>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>Mable Smith</td>
                    <td>jovanny@hotmail.com</td>
                    <td>
                      <span class='label label-warning'>Warning</span>
                    </td>
                    <td>
                      <div class='text-right'>
                        <a class='btn btn-success btn-xs' href='#'>
                          <i class='icon-ok'></i>
                        </a>
                        <a class='btn btn-danger btn-xs' href='#'>
                          <i class='icon-remove'></i>
                        </a>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>Fabian Stracke</td>
                    <td>brenda@yahoo.com</td>
                    <td>
                      <span class='label label-important'>Important</span>
                    </td>
                    <td>
                      <div class='text-right'>
                        <a class='btn btn-success btn-xs' href='#'>
                          <i class='icon-ok'></i>
                        </a>
                        <a class='btn btn-danger btn-xs' href='#'>
                          <i class='icon-remove'></i>
                        </a>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>Omer Hudson</td>
                    <td>aniya@hotmail.com</td>
                    <td>
                      <span class='label label-success'>Success</span>
                    </td>
                    <td>
                      <div class='text-right'>
                        <a class='btn btn-success btn-xs' href='#'>
                          <i class='icon-ok'></i>
                        </a>
                        <a class='btn btn-danger btn-xs' href='#'>
                          <i class='icon-remove'></i>
                        </a>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>Maverick Pagac</td>
                    <td>rocio@gmail.com</td>
                    <td>
                      <span class='label label-success'>Success</span>
                    </td>
                    <td>
                      <div class='text-right'>
                        <a class='btn btn-success btn-xs' href='#'>
                          <i class='icon-ok'></i>
                        </a>
                        <a class='btn btn-danger btn-xs' href='#'>
                          <i class='icon-remove'></i>
                        </a>
                      </div>
                    </td>
                  </tr>
                </tbody>
                <tfoot>
                  <tr>
                    <th>Name</th>
                    <th>E-mail</th>
                    <th colspan='2'>Status</th>
                  </tr>
                </tfoot>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
