<div class='col-xs-12'>
  <div class='row'>
    <div class='col-sm-12'>
      <div class='page-header'>
        <h1 class='pull-left'>
          <i class='icon-time'></i>
          <span>Timeline</span>
        </h1>
        <div class='pull-right'>
          <ul class='breadcrumb'>
            <li>
              <a href='index.html'>
                <i class='icon-bar-chart'></i>
              </a>
            </li>
            <li class='separator'>
              <i class='icon-angle-right'></i>
            </li>
            <li>Example pages</li>
            <li class='separator'>
              <i class='icon-angle-right'></i>
            </li>
            <li class='active'>Timeline</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class='row timeline'>
    <div class='col-sm-12'>
      <ol class='list-unstyled'>
        <li>
          <div class='icon purple-background'>
            <i class='icon-plane'></i>
          </div>
          <div class='title'>
            Vacation
            <small class='text-muted'>1 minute ago</small>
          </div>
          <div class='content'>
            Occaecati adipisci eum debitis necessitatibus odio commodi voluptatem iure architecto velit eveniet quos quia dolore quia voluptates voluptatum nam facilis omnis tempora eos magnam qui ad qui id molestiae officia praesentium autem quae eaque sequi dignissimos facere ea consectetur aperiam
          </div>
        </li>
        <li>
          <div class='icon green-background'>
            <i class='icon-picture'></i>
          </div>
          <div class='title'>
            <a class="text-muted" href="#">Doris Solomon</a>
            uploaded new photos
            <small class='text-muted'>10 minutes ago</small>
          </div>
          <div class='content'>
            <img src="http://placehold.it/140x70/dce1e5/143249" />
            <img src="http://placehold.it/140x70/dce1e5/143249" />
            <img src="http://placehold.it/140x70/dce1e5/143249" />
            <img src="http://placehold.it/140x70/dce1e5/143249" />
          </div>
        </li>
        <li>
          <div class='icon orange-background'>
            <i class='icon-comments'></i>
          </div>
          <div class='title'>
            <a class="text-muted" href="#">Noelle Goldstein</a>
            sent comment
            <small class='text-muted'>1 hour ago</small>
          </div>
          <div class='content'>
            Nostrum doloremque dolor sed vel amet sed labore aut praesentium nobis recusandae illo impedit laboriosam quis quibusdam praesentium aut nisi
          </div>
        </li>
        <li>
          <div class='icon red-background'>
            <i class='icon-facetime-video'></i>
          </div>
          <div class='title'>
            <a class="text-muted" href="#">Don Eason</a>
            shared video
            <small class='text-muted'>2 weeks ago</small>
          </div>
          <div class='content'>
            <iframe allowfullscreen='' src='http://www.youtube.com/embed/VyG1rk1XgT4' style='width:560px;height:315px;frameborder:0;'></iframe>
          </div>
        </li>
      </ol>
    </div>
  </div>
</div>
