<div class='col-xs-12'>
  <div class='row'>
    <div class='col-sm-12'>
      <div class='page-header'>
        <h1 class='pull-left'>
          <i class='icon-paste'></i>
          <span>WYSIWYG</span>
        </h1>
        <div class='pull-right'>
          <ul class='breadcrumb'>
            <li>
              <a href='index.html'>
                <i class='icon-bar-chart'></i>
              </a>
            </li>
            <li class='separator'>
              <i class='icon-angle-right'></i>
            </li>
            <li>Components</li>
            <li class='separator'>
              <i class='icon-angle-right'></i>
            </li>
            <li class='active'>WYSIWYG</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class='row'>
    <div class='col-sm-12'>
      <div class='box' style='margin-bottom:0'>
        <div class='box-header blue-background'>
          <div class='title'>Advanced WYSIWYG (CKEditor)</div>
          <div class='actions'>
            <a class="btn box-remove btn-xs btn-link" href="#"><i class='icon-remove'></i>
            </a>

            <a class="btn box-collapse btn-xs btn-link" href="#"><i></i>
            </a>
          </div>
        </div>
        <div class='box-content'>
          <textarea class='form-control ckeditor' id='wysiwyg1' rows='10'><h1>In computing,</h1>
          a WYSIWYG editor is a system in which content (text and graphics) displayed onscreen during editing appears in a form closely corresponding to its appearance when printed or displayed as a finished product,[1] which might be a printed document, web page, or slide presentation. WYSIWYG (pron.: /ˈwɪziwɪɡ/ wiz-ee-wig)[2] is an acronym for "what you see is what you get".</textarea>
        </div>
      </div>
    </div>
  </div>
  <hr class='hr-double'>
  <div class='row'>
    <div class='col-sm-12'>
      <div class='box'>
        <div class='box-header purple-background'>
          <div class='title'>Simple WYSIWYG (wysihtml5)</div>
          <div class='actions'>
            <a class="btn box-remove btn-xs btn-link" href="#"><i class='icon-remove'></i>
            </a>

            <a class="btn box-collapse btn-xs btn-link" href="#"><i></i>
            </a>
          </div>
        </div>
        <div class='box-content'>
          <textarea class='form-control wysihtml5' id='wysiwyg2' rows='10'><h1>In computing,</h1>
          a WYSIWYG editor is a system in which content (text and graphics) displayed onscreen during editing appears in a form closely corresponding to its appearance when printed or displayed as a finished product,[1] which might be a printed document, web page, or slide presentation. WYSIWYG (pron.: /ˈwɪziwɪɡ/ wiz-ee-wig)[2] is an acronym for "what you see is what you get".</textarea>
        </div>
      </div>
    </div>
  </div>
</div>
